<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.service.dao.master.trade.TradeDateTempDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.service.domain.trade.TradeDateTemp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="amt" property="amt" jdbcType="VARCHAR" />
    <result column="pay_sub_type" property="paySubType" jdbcType="VARCHAR" />
    <result column="time_stamp" property="timeStamp" jdbcType="VARCHAR" />
    <result column="trade_date" property="tradeDate" jdbcType="VARCHAR" />
    <result column="trade_houre" property="tradeHoure" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, inner_code, amt, pay_sub_type, time_stamp, trade_date, trade_houre
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_trade_date_temp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_trade_date_temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.fnsco.service.domain.trade.TradeDateTemp" >
    insert into r_trade_date_temp (id, inner_code, amt, 
      pay_sub_type, time_stamp)
    values (#{id,jdbcType=INTEGER}, #{innerCode,jdbcType=VARCHAR}, #{amt,jdbcType=VARCHAR}, 
      #{paySubType,jdbcType=VARCHAR}, #{timeStamp,jdbcType=VARCHAR}, #{tradeDate,jdbcType=VARCHAR}, 
      #{tradeHoure,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.service.domain.trade.TradeDateTemp" >
    insert into r_trade_date_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="amt != null" >
        amt,
      </if>
      <if test="paySubType != null" >
        pay_sub_type,
      </if>
      <if test="timeStamp != null" >
        time_stamp,
      </if>
      <if test="tradeDate != null" >
        trade_date,
      </if>
      <if test="tradeHoure != null" >
        trade_houre,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        #{amt,jdbcType=VARCHAR},
      </if>
      <if test="paySubType != null" >
        #{paySubType,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="tradeHoure != null" >
        #{tradeHoure,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.fnsco.service.domain.trade.TradeDateTemp" >
    update r_trade_date_temp
    <set >
      <if test="innerCode != null" >
        inner_code = #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        amt = #{amt,jdbcType=VARCHAR},
      </if>
      <if test="paySubType != null" >
        pay_sub_type = #{paySubType,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        time_stamp = #{timeStamp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.fnsco.service.domain.trade.TradeDateTemp" >
    update r_trade_date_temp
    set inner_code = #{innerCode,jdbcType=VARCHAR},
      amt = #{amt,jdbcType=VARCHAR},
      pay_sub_type = #{paySubType,jdbcType=VARCHAR},
      time_stamp = #{timeStamp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 删除全表数据 -->
  <delete id="deleteAll">
    delete from r_trade_date_temp
  </delete>
  <!-- 按照天统计数据 -->
  <select id="selectTradeDataByDate" resultType="net.fnsco.service.domain.trade.TradeByDay" >
    SELECT
		SUM(amt) AS turnover,
		inner_code AS innerCode,
		COUNT(*) AS orderNum,
		cast(
			(SUM(amt) / COUNT(*)) AS DECIMAL (16, 2)
		) AS orderPrice
	FROM
		r_trade_date_temp
	GROUP BY
		inner_code
  </select>
  <!-- 按小时统计交易额 -->
  <select id="selectTradeDataByHour" resultType="net.fnsco.service.domain.trade.TradeByHour">
    SELECT
		SUM(amt) AS turnover,
		inner_code AS innerCode,
		COUNT(*) AS orderNum,
	    trade_houre AS tradeHour,
		cast(
			(SUM(amt) / COUNT(*)) AS DECIMAL (16, 2)
		) AS orderPrice
	FROM
		r_trade_date_temp
	GROUP BY
		inner_code,trade_houre
  </select>
  <!-- 按照支付渠道统计交易额 -->
  <select id="selectTradeDataByPayType" resultType="net.fnsco.service.domain.trade.TradeByPayType">
     SELECT
			SUM(amt) AS turnover,
			inner_code AS innerCode,
			COUNT(*) AS orderNum,
		  pay_sub_type AS payType,
			cast(
				(SUM(amt) / COUNT(*)) AS DECIMAL (16, 2)
			) AS orderPrice
		FROM
			r_trade_date_temp
		GROUP BY
			inner_code,pay_sub_type
  </select>
</mapper>