body.help{
	background-color: #f8f8f8;
}
.title{
	font-size: 0.555rem;
	color: #aeaeae;
	padding:0.6rem;
	line-height: 1;
}
/*重置mui样式*/
p.mui-ellipsis{
	color: #333;
	font-size: 0.64rem;
}
.mui-table-view-cell{
	padding:0.68rem;
	line-height: 1;
}
.mui-table-view-cell>a:not(.mui-btn){
	margin: -0.68rem -15px;
}
.mui-table-view-cell:after{
	background-color: #e8e8e8;
}
.mui-table-view:before {
	background-color: #e8e8e8;
}
.mui-table-view:after{
	background-color: #e8e8e8;
}

/*帮助详情*/
.help-body{
	background-color: #fff;
}
.content-title{
	font-size: 0.64rem;
	padding: 0.68rem;
	border-bottom: 1px solid #e8e8e8;
	color: #333333;
}
.help-content{
	padding: 0.68rem;
	font-size: 0.64rem;
}