#side-menu .glyphicon-chevron-down,#side-menu .glyphicon-chevron-up{
	float: right;
}
table thead{
	/*color: #fff;
    background: #2f4050;*/
}
table a.remove{
	color:#999;
}
table a.redact{
	color:#428bca;
}

table a.remove,table a.redact{
	padding: 5px 10px;
    border-radius: 3px;
}
.form-group{
	padding: 0 10px;
}
.form-group .btn{
	margin: 5px;
}
.form-group .btn span.glyphicon{
	margin-right: 2px;
	font-size: 12px;
}
.navbar-header .navbar-minimalize{
	font-size: 18px;
	color: #2f4050;
}
.form-group .control-label{
	display: inline-block;
	padding-top: 8px;
	min-width: 80px;
}
.form-group .form-control{
	width: 72%;
	width: calc(100% - 86px);
	display: inline-block;
}
.form-group .query-time .form-control{
	width: 40%;
	width: calc(50% - 50px);
}
.form-group div{
	margin: 5px 0;
}
/*弹框样式修改*/
.modal-body{padding: 0;}
.modal-body .nav{
	background: #2f4050;
}
.modal-body .nav-tabs>li>a{
	border-radius:0;
	border: none;
	margin: 0;
}
.modal-body .nav>li.active>a{
	border-radius: 0;
	border: none;
	background-color: #fff;
	color: #2f4050;
}
.modal-body .tab-content{
	padding:20px;
}
.modal-body .tab-content label{
	margin-bottom: 2px;
}
.modal-body .col-sm-4{
	margin-bottom:15px;
}
	/*下一步按钮*/
	a.nextBtn,a.saveBtn{
		margin: 10px auto;
		width: 80px;
		height: 35px;
		line-height: 35px;
		display: block;
		text-align: center;
		background:#2f4050;
		color: #fff;
		border-radius: 5px;
	}
	a.nextBtn:hover,a.saveBtn:hover{
		color: #fff;
	}