#side-menu .glyphicon-chevron-down,#side-menu .glyphicon-chevron-up{
	float: right;
}
table thead{
	/*color: #fff;
    background: #2f4050;*/
}
table a.remove{
	color:#999;
}
table a.redact{
	color:#428bca;
}

table a.remove,table a.redact{
	padding: 5px 10px;
    border-radius: 3px;
}
.form-group{
	padding: 0 10px;
}
.form-group .btn{
	margin: 5px;
}
.form-group .btn span.glyphicon{
	margin-right: 2px;
	font-size: 12px;
}
.navbar-header .navbar-minimalize{
	font-size: 18px;
	color: #2f4050;
}
.form-group .control-label{
	display: inline-block;
	padding-top: 8px;
	min-width: 80px;
}
.form-group .form-control{
	width: 72%;
	width: calc(100% - 86px);
	display: inline-block;
}
.form-group .query-time .form-control{
	width: 40%;
	width: calc(50% - 50px);
}
.form-group div{
	margin: 5px 0;
}
/*弹框样式修改*/
.modal{
	/*filter:alpha(opacity=50);  
	-moz-opacity:0.5;  
	-khtml-opacity: 0.5;  
	opacity: 0.5;*/
	background: rgba(0,0,0,0.5);
}
.modal-body{padding: 0;}
.modal-body .nav{
	background: #2f4050;
}
.modal-body .nav-tabs>li{
	margin-bottom: 0;
}
.modal-body .nav-tabs>li>a{
	border-radius:0;
	border: none;
	margin: 0;
	cursor: default;
}
.nav-tabs>li>a:focus,.nav-tabs>li>a:hover{
	background-color: #2f4050;
    color: #A7B1C2;
}
.modal-body .nav>li.active>a{
	border-radius: 0;
	border: none;
	background-color: #fff;
	color: #2f4050;
}
.modal-body .tab-content{
	padding:20px;
}
.modal-body .tab-content label{
	margin-bottom: 2px;
}
.modal-body .col-sm-4{
	margin-bottom:15px;
}
.contact-list,.terminal-list,.channel-list,.bankCard-list{
	padding: 10px 20px 0 20px;
    background: #f4f4f4;
    margin: 10px 0;
    position: relative;
}
#btn_addContact{
	font-size: 12px;
}
.remove-icon{
	position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background: #d43f3a;
    color: #fff;
    cursor: pointer;
}
.remove-icon span{
	height: 20px;
    line-height: 20px;
    top: 0;
}
	/*下一步按钮*/
	a.nextBtn,a.saveBtn{
		margin: 10px auto;
		width: 20%;
		height: 35px;
		line-height: 35px;
		display: block;
		text-align: center;
		background:#2f4050;
		color: #fff;
		border-radius: 5px;
	}
	a.nextBtn:hover,a.saveBtn:hover{
		color: #fff;
	}
/*增加商户弹框修改*/
.fileImgName{
	padding: 5px 15px;
    background: #f4f4f4;
    border-radius: 3px;
    margin-right: 10px;
}
.previewfileImg{
	padding: 5px;
    background: #428bca;
    color: #fff;
    border-radius: 3px;
    margin: 0 3px;
    position: relative;
}
.previewfileImg img{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter:alpha(opacity=0);
    -moz-opacity:0;   
    -khtml-opacity: 0; 
	opacity: 0;
}
.deletefileImg{
	padding: 5px;
    background: #ed5565;
    color: #fff;
    border-radius: 3px;
}
.previewfileImg:hover,.deletefileImg:hover{
	color: #fff;
}
.uploadify{
	text-align: center;
	background: #428bca;
    color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    position: relative;
}
.uploadify .swfupload{
	left: 0;
}
.form-control[readonly]{
	background-color: #fff;
	cursor: default;
}
/*修改商户信息*/
.editBtn_edit,.editBtn_save{
	margin-bottom: 10px;
}
.editBtn_save{
	display: none;
}
.editBtn_edit span,.editBtn_save span{
	margin-right: 3px;
}
