<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.service.dao.master.MerchantCoreDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.service.domain.MerchantCore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="innerCode" property="innercode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="merArea" property="merarea" jdbcType="VARCHAR" />
    <result column="signDate" property="signdate" jdbcType="VARCHAR" />
    <result column="merEnName" property="merenname" jdbcType="VARCHAR" />
    <result column="coopOrgnCode" property="cooporgncode" jdbcType="VARCHAR" />
    <result column="registArea" property="registarea" jdbcType="VARCHAR" />
    <result column="startBusTime" property="startbustime" jdbcType="VARCHAR" />
    <result column="endBusTime" property="endbustime" jdbcType="VARCHAR" />
    <result column="realBusScope" property="realbusscope" jdbcType="VARCHAR" />
    <result column="merLegalPerson" property="merlegalperson" jdbcType="VARCHAR" />
    <result column="legalPersonTel" property="legalpersontel" jdbcType="VARCHAR" />
    <result column="legalValidPaperType" property="legalvalidpapertype" jdbcType="VARCHAR" />
    <result column="paperNum" property="papernum" jdbcType="VARCHAR" />
    <result column="paperValidTime" property="papervalidtime" jdbcType="VARCHAR" />
    <result column="businessLicenseNum" property="businesslicensenum" jdbcType="VARCHAR" />
    <result column="businessLicenseValidTime" property="businesslicensevalidtime" jdbcType="VARCHAR" />
    <result column="taxRegistCode" property="taxregistcode" jdbcType="VARCHAR" />
    <result column="merRegistAddress" property="merregistaddress" jdbcType="VARCHAR" />
    <result column="accountType" property="accounttype" jdbcType="VARCHAR" />
    <result column="subBankName" property="subbankname" jdbcType="VARCHAR" />
    <result column="accountNo" property="accountno" jdbcType="VARCHAR" />
    <result column="accountName" property="accountname" jdbcType="VARCHAR" />
    <result column="openBankPrince" property="openbankprince" jdbcType="VARCHAR" />
    <result column="openBank" property="openbank" jdbcType="VARCHAR" />
    <result column="openBankCity" property="openbankcity" jdbcType="VARCHAR" />
    <result column="accountHolderID" property="accountholderid" jdbcType="VARCHAR" />
    <result column="openBankNum" property="openbanknum" jdbcType="VARCHAR" />
    <result column="closedCircle" property="closedcircle" jdbcType="VARCHAR" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="mercFlag" property="mercflag" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="installArea" property="installarea" jdbcType="VARCHAR" />
    <result column="merInstallArea" property="merinstallarea" jdbcType="VARCHAR" />
    <result column="updateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="lastUpdateTime" property="lastupdatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, innerCode, name, merArea, signDate, merEnName, coopOrgnCode, registArea, startBusTime, 
    endBusTime, realBusScope, merLegalPerson, legalPersonTel, legalValidPaperType, paperNum, 
    paperValidTime, businessLicenseNum, businessLicenseValidTime, taxRegistCode, merRegistAddress, 
    accountType, subBankName, accountNo, accountName, openBankPrince, openBank, openBankCity, 
    accountHolderID, openBankNum, closedCircle, abbreviation, status, mercFlag, source, 
    installArea, merInstallArea, updateUser, lastUpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_merchant_core
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_merchant_core
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.fnsco.service.domain.MerchantCore" >
    insert into m_merchant_core (id, innerCode, name, 
      merArea, signDate, merEnName, 
      coopOrgnCode, registArea, startBusTime, 
      endBusTime, realBusScope, merLegalPerson, 
      legalPersonTel, legalValidPaperType, paperNum, 
      paperValidTime, businessLicenseNum, businessLicenseValidTime, 
      taxRegistCode, merRegistAddress, accountType, 
      subBankName, accountNo, accountName, 
      openBankPrince, openBank, openBankCity, 
      accountHolderID, openBankNum, closedCircle, 
      abbreviation, status, mercFlag, 
      source, installArea, merInstallArea, 
      updateUser, lastUpdateTime)
    values (#{id,jdbcType=INTEGER}, #{innercode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{merarea,jdbcType=VARCHAR}, #{signdate,jdbcType=VARCHAR}, #{merenname,jdbcType=VARCHAR}, 
      #{cooporgncode,jdbcType=VARCHAR}, #{registarea,jdbcType=VARCHAR}, #{startbustime,jdbcType=VARCHAR}, 
      #{endbustime,jdbcType=VARCHAR}, #{realbusscope,jdbcType=VARCHAR}, #{merlegalperson,jdbcType=VARCHAR}, 
      #{legalpersontel,jdbcType=VARCHAR}, #{legalvalidpapertype,jdbcType=VARCHAR}, #{papernum,jdbcType=VARCHAR}, 
      #{papervalidtime,jdbcType=VARCHAR}, #{businesslicensenum,jdbcType=VARCHAR}, #{businesslicensevalidtime,jdbcType=VARCHAR}, 
      #{taxregistcode,jdbcType=VARCHAR}, #{merregistaddress,jdbcType=VARCHAR}, #{accounttype,jdbcType=VARCHAR}, 
      #{subbankname,jdbcType=VARCHAR}, #{accountno,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, 
      #{openbankprince,jdbcType=VARCHAR}, #{openbank,jdbcType=VARCHAR}, #{openbankcity,jdbcType=VARCHAR}, 
      #{accountholderid,jdbcType=VARCHAR}, #{openbanknum,jdbcType=VARCHAR}, #{closedcircle,jdbcType=VARCHAR}, 
      #{abbreviation,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{mercflag,jdbcType=VARCHAR}, 
      #{source,jdbcType=INTEGER}, #{installarea,jdbcType=VARCHAR}, #{merinstallarea,jdbcType=VARCHAR}, 
      #{updateuser,jdbcType=VARCHAR}, #{lastupdatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.service.domain.MerchantCore" >
    insert into m_merchant_core
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="innercode != null" >
        innerCode,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="merarea != null" >
        merArea,
      </if>
      <if test="signdate != null" >
        signDate,
      </if>
      <if test="merenname != null" >
        merEnName,
      </if>
      <if test="cooporgncode != null" >
        coopOrgnCode,
      </if>
      <if test="registarea != null" >
        registArea,
      </if>
      <if test="startbustime != null" >
        startBusTime,
      </if>
      <if test="endbustime != null" >
        endBusTime,
      </if>
      <if test="realbusscope != null" >
        realBusScope,
      </if>
      <if test="merlegalperson != null" >
        merLegalPerson,
      </if>
      <if test="legalpersontel != null" >
        legalPersonTel,
      </if>
      <if test="legalvalidpapertype != null" >
        legalValidPaperType,
      </if>
      <if test="papernum != null" >
        paperNum,
      </if>
      <if test="papervalidtime != null" >
        paperValidTime,
      </if>
      <if test="businesslicensenum != null" >
        businessLicenseNum,
      </if>
      <if test="businesslicensevalidtime != null" >
        businessLicenseValidTime,
      </if>
      <if test="taxregistcode != null" >
        taxRegistCode,
      </if>
      <if test="merregistaddress != null" >
        merRegistAddress,
      </if>
      <if test="accounttype != null" >
        accountType,
      </if>
      <if test="subbankname != null" >
        subBankName,
      </if>
      <if test="accountno != null" >
        accountNo,
      </if>
      <if test="accountname != null" >
        accountName,
      </if>
      <if test="openbankprince != null" >
        openBankPrince,
      </if>
      <if test="openbank != null" >
        openBank,
      </if>
      <if test="openbankcity != null" >
        openBankCity,
      </if>
      <if test="accountholderid != null" >
        accountHolderID,
      </if>
      <if test="openbanknum != null" >
        openBankNum,
      </if>
      <if test="closedcircle != null" >
        closedCircle,
      </if>
      <if test="abbreviation != null" >
        abbreviation,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="mercflag != null" >
        mercFlag,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="installarea != null" >
        installArea,
      </if>
      <if test="merinstallarea != null" >
        merInstallArea,
      </if>
      <if test="updateuser != null" >
        updateUser,
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="innercode != null" >
        #{innercode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="merarea != null" >
        #{merarea,jdbcType=VARCHAR},
      </if>
      <if test="signdate != null" >
        #{signdate,jdbcType=VARCHAR},
      </if>
      <if test="merenname != null" >
        #{merenname,jdbcType=VARCHAR},
      </if>
      <if test="cooporgncode != null" >
        #{cooporgncode,jdbcType=VARCHAR},
      </if>
      <if test="registarea != null" >
        #{registarea,jdbcType=VARCHAR},
      </if>
      <if test="startbustime != null" >
        #{startbustime,jdbcType=VARCHAR},
      </if>
      <if test="endbustime != null" >
        #{endbustime,jdbcType=VARCHAR},
      </if>
      <if test="realbusscope != null" >
        #{realbusscope,jdbcType=VARCHAR},
      </if>
      <if test="merlegalperson != null" >
        #{merlegalperson,jdbcType=VARCHAR},
      </if>
      <if test="legalpersontel != null" >
        #{legalpersontel,jdbcType=VARCHAR},
      </if>
      <if test="legalvalidpapertype != null" >
        #{legalvalidpapertype,jdbcType=VARCHAR},
      </if>
      <if test="papernum != null" >
        #{papernum,jdbcType=VARCHAR},
      </if>
      <if test="papervalidtime != null" >
        #{papervalidtime,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensenum != null" >
        #{businesslicensenum,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensevalidtime != null" >
        #{businesslicensevalidtime,jdbcType=VARCHAR},
      </if>
      <if test="taxregistcode != null" >
        #{taxregistcode,jdbcType=VARCHAR},
      </if>
      <if test="merregistaddress != null" >
        #{merregistaddress,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="subbankname != null" >
        #{subbankname,jdbcType=VARCHAR},
      </if>
      <if test="accountno != null" >
        #{accountno,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="openbankprince != null" >
        #{openbankprince,jdbcType=VARCHAR},
      </if>
      <if test="openbank != null" >
        #{openbank,jdbcType=VARCHAR},
      </if>
      <if test="openbankcity != null" >
        #{openbankcity,jdbcType=VARCHAR},
      </if>
      <if test="accountholderid != null" >
        #{accountholderid,jdbcType=VARCHAR},
      </if>
      <if test="openbanknum != null" >
        #{openbanknum,jdbcType=VARCHAR},
      </if>
      <if test="closedcircle != null" >
        #{closedcircle,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null" >
        #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="mercflag != null" >
        #{mercflag,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="installarea != null" >
        #{installarea,jdbcType=VARCHAR},
      </if>
      <if test="merinstallarea != null" >
        #{merinstallarea,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.fnsco.service.domain.MerchantCore" >
    update m_merchant_core
    <set >
      <if test="innercode != null" >
        innerCode = #{innercode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="merarea != null" >
        merArea = #{merarea,jdbcType=VARCHAR},
      </if>
      <if test="signdate != null" >
        signDate = #{signdate,jdbcType=VARCHAR},
      </if>
      <if test="merenname != null" >
        merEnName = #{merenname,jdbcType=VARCHAR},
      </if>
      <if test="cooporgncode != null" >
        coopOrgnCode = #{cooporgncode,jdbcType=VARCHAR},
      </if>
      <if test="registarea != null" >
        registArea = #{registarea,jdbcType=VARCHAR},
      </if>
      <if test="startbustime != null" >
        startBusTime = #{startbustime,jdbcType=VARCHAR},
      </if>
      <if test="endbustime != null" >
        endBusTime = #{endbustime,jdbcType=VARCHAR},
      </if>
      <if test="realbusscope != null" >
        realBusScope = #{realbusscope,jdbcType=VARCHAR},
      </if>
      <if test="merlegalperson != null" >
        merLegalPerson = #{merlegalperson,jdbcType=VARCHAR},
      </if>
      <if test="legalpersontel != null" >
        legalPersonTel = #{legalpersontel,jdbcType=VARCHAR},
      </if>
      <if test="legalvalidpapertype != null" >
        legalValidPaperType = #{legalvalidpapertype,jdbcType=VARCHAR},
      </if>
      <if test="papernum != null" >
        paperNum = #{papernum,jdbcType=VARCHAR},
      </if>
      <if test="papervalidtime != null" >
        paperValidTime = #{papervalidtime,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensenum != null" >
        businessLicenseNum = #{businesslicensenum,jdbcType=VARCHAR},
      </if>
      <if test="businesslicensevalidtime != null" >
        businessLicenseValidTime = #{businesslicensevalidtime,jdbcType=VARCHAR},
      </if>
      <if test="taxregistcode != null" >
        taxRegistCode = #{taxregistcode,jdbcType=VARCHAR},
      </if>
      <if test="merregistaddress != null" >
        merRegistAddress = #{merregistaddress,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        accountType = #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="subbankname != null" >
        subBankName = #{subbankname,jdbcType=VARCHAR},
      </if>
      <if test="accountno != null" >
        accountNo = #{accountno,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null" >
        accountName = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="openbankprince != null" >
        openBankPrince = #{openbankprince,jdbcType=VARCHAR},
      </if>
      <if test="openbank != null" >
        openBank = #{openbank,jdbcType=VARCHAR},
      </if>
      <if test="openbankcity != null" >
        openBankCity = #{openbankcity,jdbcType=VARCHAR},
      </if>
      <if test="accountholderid != null" >
        accountHolderID = #{accountholderid,jdbcType=VARCHAR},
      </if>
      <if test="openbanknum != null" >
        openBankNum = #{openbanknum,jdbcType=VARCHAR},
      </if>
      <if test="closedcircle != null" >
        closedCircle = #{closedcircle,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null" >
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="mercflag != null" >
        mercFlag = #{mercflag,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="installarea != null" >
        installArea = #{installarea,jdbcType=VARCHAR},
      </if>
      <if test="merinstallarea != null" >
        merInstallArea = #{merinstallarea,jdbcType=VARCHAR},
      </if>
      <if test="updateuser != null" >
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.fnsco.service.domain.MerchantCore" >
    update m_merchant_core
    set innerCode = #{innercode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      merArea = #{merarea,jdbcType=VARCHAR},
      signDate = #{signdate,jdbcType=VARCHAR},
      merEnName = #{merenname,jdbcType=VARCHAR},
      coopOrgnCode = #{cooporgncode,jdbcType=VARCHAR},
      registArea = #{registarea,jdbcType=VARCHAR},
      startBusTime = #{startbustime,jdbcType=VARCHAR},
      endBusTime = #{endbustime,jdbcType=VARCHAR},
      realBusScope = #{realbusscope,jdbcType=VARCHAR},
      merLegalPerson = #{merlegalperson,jdbcType=VARCHAR},
      legalPersonTel = #{legalpersontel,jdbcType=VARCHAR},
      legalValidPaperType = #{legalvalidpapertype,jdbcType=VARCHAR},
      paperNum = #{papernum,jdbcType=VARCHAR},
      paperValidTime = #{papervalidtime,jdbcType=VARCHAR},
      businessLicenseNum = #{businesslicensenum,jdbcType=VARCHAR},
      businessLicenseValidTime = #{businesslicensevalidtime,jdbcType=VARCHAR},
      taxRegistCode = #{taxregistcode,jdbcType=VARCHAR},
      merRegistAddress = #{merregistaddress,jdbcType=VARCHAR},
      accountType = #{accounttype,jdbcType=VARCHAR},
      subBankName = #{subbankname,jdbcType=VARCHAR},
      accountNo = #{accountno,jdbcType=VARCHAR},
      accountName = #{accountname,jdbcType=VARCHAR},
      openBankPrince = #{openbankprince,jdbcType=VARCHAR},
      openBank = #{openbank,jdbcType=VARCHAR},
      openBankCity = #{openbankcity,jdbcType=VARCHAR},
      accountHolderID = #{accountholderid,jdbcType=VARCHAR},
      openBankNum = #{openbanknum,jdbcType=VARCHAR},
      closedCircle = #{closedcircle,jdbcType=VARCHAR},
      abbreviation = #{abbreviation,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      mercFlag = #{mercflag,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      installArea = #{installarea,jdbcType=VARCHAR},
      merInstallArea = #{merinstallarea,jdbcType=VARCHAR},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>