<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.service.dao.master.SysMsgReceiverDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.service.domain.SysMsgReceiver" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_user_id" property="appUserId" jdbcType="INTEGER" />
    <result column="msg_content" property="msgContent" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_user_id, msg_content, send_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_msg_receiver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_msg_receiver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.fnsco.service.domain.SysMsgReceiver" >
    insert into sys_msg_receiver (id, app_user_id, msg_content, 
      send_time)
    values (#{id,jdbcType=INTEGER}, #{appUserId,jdbcType=INTEGER}, #{msgContent,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.service.domain.SysMsgReceiver" >
    insert into sys_msg_receiver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appUserId != null" >
        app_user_id,
      </if>
      <if test="msgContent != null" >
        msg_content,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appUserId != null" >
        #{appUserId,jdbcType=INTEGER},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.fnsco.service.domain.SysMsgReceiver" >
    update sys_msg_receiver
    <set >
      <if test="appUserId != null" >
        app_user_id = #{appUserId,jdbcType=INTEGER},
      </if>
      <if test="msgContent != null" >
        msg_content = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.fnsco.service.domain.SysMsgReceiver" >
    update sys_msg_receiver
    set app_user_id = #{appUserId,jdbcType=INTEGER},
      msg_content = #{msgContent,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 条件查询 -->
  <select id="queryListByCondition" parameterType="net.fnsco.service.domain.SysMsgReceiver" resultMap="BaseResultMap">
      select 
    <include refid="Base_Column_List" />
    from sys_msg_receiver
    <where>
      <if test="appUserId != null" >
        AND app_user_id = #{appUserId,jdbcType=INTEGER}
      </if>
      <if test="msgContent != null" >
        AND msg_content = #{msgContent,jdbcType=VARCHAR}
      </if>
      <if test="sendTime != null" >
        AND send_time >= #{sendTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>