<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.finance.service.dao.master.FinanceAccountBookDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.finance.service.domain.FinanceAccountBook" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="io_type_code" property="ioTypeCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modefy_time" property="lastModefyTime" jdbcType="TIMESTAMP" />
    <result column="happen_date" property="happenDate" jdbcType="VARCHAR" />
    <result column="ico_url" property="icoUrl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="AmountResultMap" type="net.fnsco.finance.service.domain.FinanceAccountBook" >
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="EntityResultMap" type="net.fnsco.finance.api.dto.AppUserEntityDTO" >
    <result column="entityInnerCode" property="entityInnerCode" jdbcType="VARCHAR" />
    <result column="mercName" property="mercName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="IoTypeResultMap" type="net.fnsco.finance.service.domain.FinanceIoType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ico_url" property="icoUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="AccountResultMap" type="net.fnsco.finance.service.domain.FinanceAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="shop_inner_code" property="shopInnerCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="DetailResultMap" type="net.fnsco.finance.api.dto.FinanceDetailDTO" >
  	<result column="shop_inner_code" property="shopInnerCode" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="happen_date" property="dates" jdbcType="VARCHAR" />
    <result column="io_type_code" property="ioTypeCode" jdbcType="VARCHAR" />
    <result column="cash" property="cash" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="ico_url" property="icoUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACB.id,ACB.type,ACB.io_type_code,ACB.cash,ACB.happen_date,IT.ico_url
  </sql>
  <sql id="Detail_Column_List" >
    SS.shop_inner_code,SS.shop_name,T.happen_date,
	T.type,T.io_type_code,T.cash,T.remark,IT.ico_url
  </sql>
   
   <!-- APP端记账条件查询日期 -->
  <select id="queryDates" parameterType="net.fnsco.finance.api.dto.FinanceQueryDTO" resultType="java.lang.String">
     select distinct 
     happen_date
   	 FROM
	 f_finance_account_book
   	 <where>
   	  <if test="entityInnerCode != null and entityInnerCode !=''" >
        AND account_id in (
		SELECT
			AB.account_id
		FROM
			f_finance_account AS A,
			m_merchant_shop AS S,
			f_finance_account_book AS AB
		WHERE
			S.shop_inner_code = A.shop_inner_code
		AND A.account_id = AB.account_id
		AND S.entity_inner_code = #{entityInnerCode}
		)
      </if>
	  <if test="startTime != null and startTime !=''" >
        AND happen_date &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime !=''" >
        AND happen_date &lt;= #{endTime}
      </if>
   	 </where>
   	 order by happen_date desc
  </select>
  <!-- APP端记账条件查询 -->
  <select id="queryList" parameterType="net.fnsco.finance.api.dto.FinanceQueryDTO" resultMap="BaseResultMap">
     select 
     <include refid="Base_Column_List" />
   	 FROM
	 f_finance_account_book AS ACB,
	 f_finance_io_type AS IT
   	 <where>
   	  <if test="entityInnerCode != null and entityInnerCode !=''" >
        AND ACB.account_id in (
		SELECT
			AB.account_id
		FROM
			f_finance_account AS A,
			m_merchant_shop AS S,
			f_finance_account_book AS AB
		WHERE
			S.shop_inner_code = A.shop_inner_code
		AND A.account_id = AB.account_id
		AND S.entity_inner_code = #{entityInnerCode}
		)
      </if>
	  <if test="startTime != null and startTime !=''" >
        AND ACB.happen_date = #{happenDate}
      </if>
      AND ACB.io_type_code=IT.code
   	 </where>
   	 order by ACB.create_time desc
  </select>
  <!-- APP端记账查询月收支金额 -->
  <select id="queryAmount" parameterType="net.fnsco.finance.api.dto.FinanceQueryDTO" resultMap="AmountResultMap">
     select 
     type,
	 sum(cash) AS cash
   	 FROM
	 f_finance_account_book
   	 <where>
   	  <if test="entityInnerCode != null and entityInnerCode !=''" >
        AND account_id in (
		SELECT
			AB.account_id
		FROM
			f_finance_account AS A,
			m_merchant_shop AS S,
			f_finance_account_book AS AB
		WHERE
			S.shop_inner_code = A.shop_inner_code
		AND A.account_id = AB.account_id
		AND S.entity_inner_code = #{entityInnerCode}
	)
      </if>
	  <if test="startTime != null and startTime !=''" >
        AND happen_date &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime !=''" >
        AND happen_date &lt;= #{endTime}
      </if>
   	 </where>
   	 GROUP BY type
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from f_finance_account_book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- APP端记账查询收支子类 -->
  <select id="queryIoTypeList"  resultMap="IoTypeResultMap" >
    SELECT
	*
	FROM
	f_finance_io_type 
  </select>
   <!-- APP端记账详情查询 -->
  <select id="queryFinanceDetail" parameterType="java.lang.Integer" resultMap="DetailResultMap" >
    SELECT
    <include refid="Detail_Column_List" />
	FROM
		m_merchant_shop AS SS,
	(
		SELECT
			account_id,
			happen_date,
			type,
			io_type_code,
			cash,
			remark
		FROM
			f_finance_account_book
		WHERE
			id = #{id, jdbcType=INTEGER}
		) AS T,
		f_finance_account AS AA,
		f_finance_io_type AS IT
	WHERE
		SS.shop_inner_code = AA.shop_inner_code
		AND AA.account_id = T.account_id
		AND T.io_type_code = IT.code
  </select>
  <!-- APP端记账查询店铺是否存在，是否生成account_id -->
  <select id="queryShopInnerCode" parameterType="net.fnsco.finance.service.domain.FinanceAccount" resultMap="AccountResultMap" >
    SELECT * FROM f_finance_account
		<where>
			<if test="id != null and id != ''" >
        	AND id = #{id, jdbcType=INTEGER}
     		</if>
      		<if test="accountId != null and accountId != ''" >
        	AND account_id = #{accountId, jdbcType=VARCHAR}
     		</if>
     		<if test="shopInnerCode != null and shopInnerCode != ''" >
        	AND shop_inner_code = #{shopInnerCode,jdbcType=VARCHAR}
     		</if>
     		<if test="createTime != null and createTime != ''" >
        	AND create_time = #{createTime,jdbcType=TIMESTAMP}
     		</if>			    
		</where>  
		</select>
  <!-- account_id生成时查重 -->
  <select id="queryAccountId" parameterType="java.lang.String" resultType="java.lang.String" >
    SELECT
		account_id
	FROM
		f_finance_account
	WHERE
		account_id = #{accountId,jdbcType=VARCHAR}
  </select>
  <!-- APP端记账查询商户信息 -->
  <select id="queryEntityList" parameterType="java.lang.String" resultMap="EntityResultMap" >
    SELECT
		E.entity_inner_code AS entityInnerCode,
		E.merc_name AS mercName
	FROM
		m_merchant_entity AS E,
		m_merchant_user_rel AS R,
		m_merchant_core_entity_ref AS ER
	WHERE
		R.inner_code=ER.inner_code
		AND ER.entity_inner_code=E.entity_inner_code
  		AND R.app_user_id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from f_finance_account_book
    where id = #{id,jdbcType=INTEGER}
  </delete>
   <!-- APP端插入shop_inner_code-account_id绑定关系信息 -->
  <insert id="insertAccount" parameterType="net.fnsco.finance.service.domain.FinanceAccount" >
    insert into f_finance_account 
    (account_id, shop_inner_code, create_time)
    values 
    (#{accountId,jdbcType=VARCHAR},
     #{shopInnerCode,jdbcType=VARCHAR}, 
     #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <!-- APP端插入记账信息 -->
  <insert id="insertAccountBook" parameterType="net.fnsco.finance.api.dto.FinanceRecordDTO" >
    insert into f_finance_account_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="cash != null" >
        cash,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ioTypeCode != null" >
        io_type_code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModefyTime != null" >
        last_modefy_time,
      </if>
      <if test="happenDate != null" >
        happen_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="ioTypeCode != null" >
        #{ioTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="happenDate != null" >
        #{happenDate,jdbcType=VARCHAR},
      </if>
      <if test="lastModefyTime != null" >
        #{lastModefyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
   <!-- APP端修改记账信息 -->
  <update id="updateAccountBook" parameterType="net.fnsco.finance.api.dto.FinanceRecordDTO" >
    update f_finance_account_book
    <set >
    	<if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="cash != null" >
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="ioTypeCode != null" >
        io_type_code = #{ioTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="happenDate != null" >
        happen_date = #{happenDate,jdbcType=VARCHAR},
      </if>
      <if test="lastModefyTime != null" >
        last_modefy_time = #{lastModefyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>