body{
	line-height: 1.2;
	width: 100%;
	overflow-x: hidden;
	background-color: #fff;
}
/*筛选显示部分*/
.filter{
	font-size: 0.55rem;
	background:rgba(125,187,255,0.10);
	padding: 0.34rem 0.68rem;
}
.filter-show{
	width: 11.97rem;
	height: 1.835rem;
	display: inline-block;
	color: #151515;
}
.filter-time{
	line-height: 0.64rem;
	padding-bottom: 0.42rem;
}
.filter-name{
	width: 100%;
	height: 0.85rem;
	line-height: 0.85rem;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight: bold;
	color: #333;
}
.filter-btn{
	width: 0.55rem;
	height: 0.55rem;
	float: right;
	margin: 0.61rem 0 0.61rem 1.9rem;;
	background-image:url(../image/filtrate.png);
	background-size: contain;
}
/*筛选显示部分 end*/
/*主体部分样式*/
.content{
	background-color: #fff;
	padding: 0 0.68rem;
	width: 100%;
	overflow-x: hidden;
}
	/*消费模式page*/
.total-ul{
	font-size: 0.68rem;
}
.total-list{
	padding: 0.555rem 0;
	position: relative;
}
.total-list:before{
	content: '';
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 1px;
    border-top: 1px solid #ccc;
    color: #d7d7d7;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.total-name{
	width: 5.5rem;
	display: inline-block;
}
.total-list-rmb{
	float: right;
}
#filter-chart-btn{
	width: 10rem;
    font-size: 0.55rem;
    line-height: 1.5rem;
    margin: 1rem auto 0;
    border-color: #3595FF;
}
.mui-segmented-control .mui-control-item{
	line-height: 1.5rem;
}
.mui-segmented-control .mui-control-item.mui-active{
	background-color: #3595FF;
}
#chart{
	margin-top: 1.365rem;
	height: 10.62rem;
}
	/*经营趋势页面*/
.trend-total{
	width: 100%;
	margin-top: 0.82rem;
	margin-bottom: 0.5rem;
	height: 3.157rem;
	padding:0.68rem 0.6rem;
}
.trend-total div{
	width: 33.33%;
	float: left;
}
.trend-total div span{
	display: block;
	text-align: center;
}
.trend-total div span.trend-total-num{
	font-size: 0.85rem;
	font-weight: bold;
}
.trend-total div span.trend-total-title{
	font-size: 0.55rem;
	color: #aeaeae;
	padding-top: 0.1rem;
}
#filter-chart-btn.trend-chart-btn{
	margin-top:0;
}
#trend-chart{
	height: 16rem;
}

/*峰值样式*/
.total{
	height: 2rem;
    line-height: 2rem;
    font-size: 0.55rem;
    margin: 0.5rem 0.5rem 1rem;
}
.total div span{
	font-size: 0.85rem;
	margin-left: 0.35rem;
}
.total .total-num{
	float: left;
}
.total .total-rmb{
	float: right;
}
/*筛选页面*/
#filter{
	display: none;
	position: absolute;
	width: 100%;
	overflow-x:hidden;
	min-height: 100%;
	top: 0;
	left:100%;
	background: #fff;
	padding-bottom: 4rem;
	padding-top: 1rem;
	z-index: 9999999;
}
.close{
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;
}
.close .mui-icon{
	font-size: 1.8rem;
	font-weight: bold;
	color: #515151;
}
#filter .mui-row{
	padding:0 0.768rem;
}
#filter .mui-row.time-input{
	height: 2.6rem;
	line-height: 2.6rem;
	font-size: 0.64rem;
	padding-top: 0.85rem;
}
#filter .time-input div{
	text-align: center;
	color: #E2E8EF;
}
input[type=text].select-time{
	height: 1.7rem;
	line-height: 1.7rem;
	background: #F2F4F7;
	border-radius: 0;
	font-size: 0.64rem;
	color: #499CFD;
	text-align: center;
	border:none;
}
input[type=text].select-time1{
	height: 1.7rem;
	line-height: 1.7rem;
	background: #F2F4F7;
	border-radius: 0;
	font-size: 0.64rem;
	color: #499CFD;
	text-align: center;
	border:none;
}
#filter .mui-row.shortcut-select{
	text-align: center;
	margin-top: 0.55rem;
	padding-bottom: 0.68rem;
	position: relative;
}
.shortcut-select:before{
	content: '';
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 1px;
    border-top: 1px solid #ccc;
    color: #d7d7d7;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.shortcut-select div{
	margin-top: 0.45rem;
	padding:0 0.5rem;
}
.shortcut-select div.pleft{
	padding: 0;
	padding-right: 1rem;
}
.shortcut-select div.pright{
	padding: 0;
	padding-left: 1rem;
}
.shortcut-select div span{
	font-size: 0.64rem;
	height: 1.55rem;
	line-height: 1.55rem;
	border:1px solid #D4E2F9;
	display: block;
	color: #3064B6;
}
.shortcut-select div span.active{
	background: #7DBBFF;
	color: #fff;
	border:none;
}
	/*重置时间下框样式*/
.mui-pciker-list li{
	font-size:0.75rem;
}
	/*商铺选择*/
#filter .mui-row.select-shop{
	padding: 0;
}
#filter .mui-row.select-pattern{
	padding: 0;
}
.select-shop-head,.select-pattern-head{
	height: 2rem;
	padding: 0 0.768rem;
}
.select-shop-title,.select-pattern-title{
	font-size: 0.65rem;
	margin-top: 0.42rem;
	float: left;
	font-weight: bold;
}
.select-shop-tool{
	float: right;
	text-align:center;
	margin-top: 0.25rem;
	font-size: 0.64rem;
	height: 1.32rem;
	width: 3.1rem;
	line-height: 1.32rem;
	border: 1px solid #D4E2F9;
	color: #3064B6;
	position: relative;
}
.select-shop-tool img{
	width: 0.65rem;
	margin-top: 0.4rem;
	display: none;
}
.select-shop-tool.active{
	background:#77B6FF;
	color: #fff;
	border:none;
	font-weight: bold;
}
.select-shop-tool.active img{
	display: inline-block;
    margin-right: 0.15rem;
}
.select-pattern-head{
	height: 1.5rem;
	position: relative;
}
.mui-table-view-cell>a:not(.mui-btn){
	padding: 0.8rem 1.8rem 0.8rem 0;
	white-space:inherit;
	font-size: 0.65rem;
	color: #7F7F7F;
}
.select-pattern .mui-table-view-cell>a:not(.mui-btn){
	padding:0.5rem 1.8rem 0.5rem 0;
}
.mui-table-view-radio .mui-table-view-cell>a:not(.mui-btn){
	padding-left: 0.768rem;;
}
.select-shop .mui-table-view:before,.select-shop .mui-table-view:after,.select-pattern .mui-table-view:before,.select-pattern .mui-table-view:after{
	height: 0;
}
.select-shop .mui-table-view-cell:after,.select-pattern .mui-table-view-cell:after{
	height: 0;
}
.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after{
	font-size: 1.55rem;
}
.select-pattern-head:before{
	content: '';
    position: absolute;
    top: -1px;
    left: -10%;
    width: 120%;
    height: 1px;
    border-top: 1px solid #ccc;
    color: #d7d7d7;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
	/* 确定按钮*/
.fixed-box{
	position: fixed;
	/*bottom:44px;*/
	height: 3.456rem;
	width: 100%;
	background-color: #fff;
	display: none;
	z-index: 99999999;
}
.filter-ok-btn{
	margin:0.6rem 0.768rem 0;
	height: 1.75rem;
	line-height: 1.75rem;
	background: #3595FF;
	text-align: center;
	font-size:0.75rem;
	color: #fff;
}
/*筛选页面 end*/



.mui-dtpicker{
	z-index:9999999999;
}
.mui-backdrop{
	z-index:999999999;
}
.mui-toast-container{
	z-index:999999999;
}