a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    /*word-break:break-all;*/
    word-wrap:break-word;
}
input{
    white-space:nowrap;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
*{
    background-repeat: no-repeat;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li,ol{
    list-style: none;
}
img{
    border: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html, body{
    height: 100%;
}
.content{
    min-height: 100%;
}
a{
    text-decoration: none;
    border: none;
    outline: none;
    tap-highlight-color: rgba(0,0,0,0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
}
a:visited{
    color: inherit;
}
input,button{
    outline: none;
}
.hide{
	display: none;
}
/*以上为初始化css代码*/
html{
    height: 100%;
    line-height: 1;
    /*font-family:'Helvetica Neue';*/
    font-family: 微软雅黑;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color: transparent;
}
body{
    height: 100%;
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-tap-highlight-color: transparent; 
    line-height: 1;
}
/*通用样式*/
a.btn{
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 0.65rem;
    line-height: 2.3;
    -webkit-tap-highlight-color: transparent;
    background-color: #3595ff;
    width: 80%;
    margin: 1rem auto;
}
a.btn:after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    content: " ";
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*流水详情状态页面 status container*/
.statusHead{
	padding-top: 2.5rem;
}
.statusImg{
	width:3rem;
	height: 3rem;
	margin: 0 auto;
}
.statusImg.finish{
	background: url(../img/finish.png) no-repeat center;
	background-size: contain;
}
.statusImg.close{
	background: url(../img/close.png) no-repeat center;
	background-size: contain;
}
.statusImg.being{
    background: url(../img/being.png) no-repeat center;
    background-size: contain;
}
.statusTxt{
	text-align: center;
	font-size: 0.9rem;
	line-height: 1;
	padding-top: 1rem;
}
.statusUl{
	margin-top: 2rem;
    padding: 1rem 0;
	background: #fbfbfb;
}
.statusUl .statusLi{
	width: 100%;
	height: 1.6rem;
	line-height: 1.6rem;
}
.statusUl .statusLi .statusLi_tit{
	width: 40%;
	float: left;
	text-indent: 0.5rem;
	font-size: 0.55rem;
}
.statusUl .statusLi .statusLi_con{
	width: 58%;
	float: right;
	margin-right: 2%;
	text-align: right;
	font-size: 0.65rem;
	color: #666;
}