html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
input[type="submit"],
input[type="reset"],
input[type="button"],
input{-webkit-appearance:none; resize: none;}
img {max-width: 100%;height: auto;width:auto\9; /* ie8 */border: none;}
/* 初始化开始*/
*{margin:0; padding:0; border:none;box-sizing:border-box;}
body{background-color:#fff;color:#666;font:.26rem/.4rem "Microsoft YaHei";}
em,i,b{font-weight: normal;font-style: normal;}
a{text-decoration:none; color:#969696;}
a:hover{ text-decoration:none;}
li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%;font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #999;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #999;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #999;}
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border:1px solid #ccc;
}
/* 初始化结束 */

/*二维码失效提示*/
.full-screen{
    position: absolute;
    width: 100%;
    height: 100%;
}
.center-text{
    position: absolute;
    padding:0 1.8rem;
    height: 2rem;
    line-height: 1.5;
    text-align: center;
    top: 50%;
    margin-top: -2rem;
    font-size: 0.68rem;
    color:#666;
}

html{
    overflow: hidden;
}
.fq{
    padding-top: 9rem;
    height: 32rem;
    position: relative;
    background:url(../img/fq_bg.jpg) no-repeat top;
    background-size:contain;
    background-color: rgb(56,125,255);
}
.payDiv{
    text-align: center;
}
input.paymentAmount{
    color: #000;
}
input.paymentAmount,select.installmentNum,button{
    width: 13rem;
    height: 1.7rem;
    margin: 0.3rem auto;
    border:1px solid #ccc !important;
    text-indent: 0.3rem;
    font-size: 0.65rem;
    border-radius: 0.15rem;
    padding: 0;
}
select.installmentNum{
    color: #999;
    padding: 0;
    border:border:1px solid #ccc ;
    -webkit-appearance: menulist;
}
    
.installmentNum.active{
    color: #000;
}
.submit{
    width: 7rem;
    background-color: rgb(255,205,0);
    color: #fff;
    margin-top: 0.6rem;
    border-radius: 1rem;
    border:none !important;
    text-indent: 0;
}
.mui-popup-title+.mui-popup-text{
    margin-top: 10px;
    line-height: 1.2;
}