* {margin: 0;padding: 0}em,i {font-style: normal}
li {list-style: none}
img {border: 0;vertical-align: middle}
button {cursor: pointer}
a{color: #666;text-decoration: none}
a:hover {color: #fff}
/**/
body{
	position: absolute;
	width: 100%;
	height: 100%;
	font: 14px/1.5 微软雅黑, Tahoma, "Microsoft Yahei", Simsun;
}
.content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #ededed;
}

/*leftBox*/
.leftNavBar{
	position: fixed;
	overflow-x: hidden; 
	overflow-y: auto;
	left: 0;
	top: 0;
	width: 220px;
	height: 100%;
	background-color: #2f4050;
	z-index: 1;
	font-size: 14px;
}
/*滚动条样式*/
.leftNavBar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}
.leftNavBar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.2);*/
}
.leftNavBar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);*/
    border-radius: 0;
    background: #fff;
}
.headerIcon{
	width: 100%;
	height: 190px;
	background-color: #1a2d40;
	text-align: center;
}
.headerImg{
	width: 90px;
	height: 90px;
	margin-top: 30px;
	border-radius: 50%;
}
.headNav{
	position: relative;
	color: #fff;
	font-size:16px;
	margin-top: 15px;
	cursor: pointer;
}
.triangle-down{
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #FFF;
    display: inline-block;
    margin-left: 10px;
}
.triangle-up{
	position: absolute;
	width: 0;
    height: 0;
    left: 50%;
    margin-left: -5px;
    right: 0;
    top: -10px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #fff;
}
.headNav-list{
	position: absolute;
	width: 100px;
	left: 50%;
	margin-left: -60px;
	top: 55px;
	background: #fff;
	color: #1a2d40;
	padding: 10px;
	display: none;
	z-index: 10;
}
.headNav-list a{
	display: block;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	/*padding: 10px 0;*/
}
.headNav-list a li{
	text-align: center;
}
.headNav-list a:hover{
	color: #fff;
	background-color: #1a2d40;
}
.nav{

}

.nav li{

}
.nav li>a {
    display: block;
}
.nav>li>a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 18px 20px 18px 25px;
}
.nav>li>a.active{
	color: #fff;    
	background-color: #3b4d5f;
}
.nav>li>a:hover{
	color: #fff;
	background-color: #2a3b4c;
}
.nav>li>a>span{
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	display: inline-block;
}
.nav>li>a>i{
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	display: inline-block;
}
.nav>li>a>i.fk{
	background: url(../img/fk-icon.png) no-repeat center;
}

/*rightBox*/
.rightBox{
	position: absolute;
	height: 100%;
	top: 0;
	left: 220px;
	background-color: #ededed;
	z-index: 0;
}
/*搜索部分*/
.searchBox{
	padding: 30px 0;
	background: #fff;
}
.searchBtn{
	background-color: #4d5f84;
	color: #fff;
	border:none;
	font-size: 16px;
	padding: 11px 50px;
	margin: 0 30px;
	font: 14px 微软雅黑, Tahoma, "Microsoft Yahei", Simsun;
}
/**/
.rightContent{
	position: relative;
	margin: 30px;
	background: #fff;
	overflow: hidden;
}
.contentTable{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow:auto; 
}
/*滚动条样式*/
.contentTable::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}
.contentTable::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.2);*/
}
.contentTable::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);*/
    border-radius: 0;
    background: #fff;
}

.fixed-table-body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}
.fixed-table-body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);*/
    /*background: rgba(0,0,0,0.2);*/
}
.fixed-table-body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);*/
    border-radius: 0;
    background: #fff;
}

/*修改密码弹框*/
#tk{
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.4);
	z-index: 9;
	top: 0;
	display: none;
}
.changePassword{
	position: absolute;
	background-color: #fff;
	width: 400px;
	/*height: 300px;*/
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -150px;
	padding:30px 0;
	border-radius: 5px;
}
.close{
	position: absolute;
	width: 26px;
	height: 26px;
	right: -13px;
	top: -13px;
	background-color: #fd1647;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	cursor: pointer;
	filter: alpha(opacity=80);
	opacity: .8;
	border: 2px solid #fff;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}
.close img{
	margin-top: -3px;
}
.input{
	width: 320px;
	height: 50px;
	margin: 20px auto;
	position:relative;
}
.input input{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	padding-left: 65px;
	line-height: 40px;
	vertical-align: middle;
	color: #666;
	margin: 0;
	border:1px solid #e4e4e5; 
	z-index: 1;
}
.input .icon{
	z-index: 2;
	position: absolute;
	height: 48px;
	width: 50px;
	left: 1px;
	top: 1px;
	border-right: 1px solid #e4e4e5;
	border-radius: 5px 0 0 5px;
	background-color: #fff;
}
.input .icon img{
	height: 20px;
	margin: 15px 0 10px 15px ;
}
.changeBtn{
    width: 100px;
    height: 42px;
    background-color: #024b7f;
    border: none;
    color: #fff;
    float: right;
    font-size: 14px;
    margin-top: 15px;
    margin-right: 40px;
}