/*鎼滅储妗�*/
.inputDiv{
	display: inline-block;
	margin:10px 30px;
	border:1px solid #c6d3dd;
}
.inputDiv label{
	background-color: #e9edf0;
	width: 100px;
	display: inline-block;
	color: #4d5f84;
	height: 41px;
	text-align: center;
	line-height: 40px;
	margin: 0;
}
.inputDiv input{
	border: none;
	width: 200px;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}
.inputDiv input.long{
	width:300px;
}
.inputDiv select{
	border: none;
	width: 200px;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}
.inputDiv input:focus{
	outline: none;
}

.page-header{
	height:50px;
	width:100%;
	background:#fff;
	margin:0;
	padding:0;
	line-height:50px;
	font-size:14px;
	padding-right:20px;
}
.page-header span{
	font-size:16px;
	font-weight:bolder;	
}
.halfDiv{
	width:50%;
	float:left;
}
.halfDiv .panel{
	margin:10px;
	font-size:16px;
}
.wholeDiv{
	float:left;
	width:100%;
}
.wholeDiv .panel{
	margin:10px;
	font-size:16px;
}
.centenTit{
	padding:50px 0;
	text-align:center;
}
.report-info{
	padding:10px;
}
.panel-title{
	font-size:16px;
}
.recharge{
	float:right;
	border:none;
	background:rgba(22, 155, 213, 1);
	padding:3px 10px;
	color:#fff;
	border-radius:3px;
	font-size:12px;
	cursor:pointer;
}