<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.service.dao.master.AliasDAO" >
  <resultMap id="BaseResultMap" type="net.fnsco.service.domain.Alias" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="validate_time" property="validateTime" jdbcType="TIMESTAMP" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="random_code" property="randomCode" jdbcType="VARCHAR" />
  </resultMap> 
  <sql id="Base_Column_List" >
    id, inner_code, validate_time, deadline, create_time, random_code
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_alias
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_alias
    where id = #{id,jdbcType=INTEGER}
  </delete>
   
  <insert id="insert" parameterType="net.fnsco.service.domain.Alias" >
    insert into m_alias (id, inner_code, validate_time, 
      deadline, create_time, random_code
      )
    values (#{id,jdbcType=INTEGER}, #{innerCode,jdbcType=VARCHAR}, #{validateTime,jdbcType=TIMESTAMP}, 
      #{deadline,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{randomCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.service.domain.Alias" >
    insert into m_alias
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="validateTime != null" >
        validate_time,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="randomCode != null" >
        random_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="validateTime != null" >
        #{validateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="randomCode != null" >
        #{randomCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    
  <update id="updateByPrimaryKeySelective" parameterType="net.fnsco.service.domain.Alias" >
    update m_alias
    <set >
      <if test="innerCode != null" >
        inner_code = #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="validateTime != null" >
        validate_time = #{validateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="randomCode != null" >
        random_code = #{randomCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.fnsco.service.domain.Alias" >
    update m_alias
    set inner_code = #{innerCode,jdbcType=VARCHAR},
      validate_time = #{validateTime,jdbcType=TIMESTAMP},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      random_code = #{randomCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByInnerCode" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from m_alias
    where inner_code = #{innerCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByRandomCode" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from m_alias
    where random_code = #{randomCode,jdbcType=VARCHAR}
    limit 1
  </select>
</mapper>