<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.order.service.dao.master.AppUserMerchantDao">
	<resultMap id="BaseResultMap" type="net.fnsco.order.service.domain.AppUserMerchant">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
		<result column="app_user_id" property="appUserId" jdbcType="INTEGER" />
		<result column="modefy_time" property="modefyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, role_id, inner_code, app_user_id, modefy_time
	</sql>
	<!-- 根据appUserId和roleId为1的店主 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_app_user_merchant
		where app_user_id = #{appUserId,jdbcType=INTEGER} and role_id =
		#{roleId,jdbcType=VARCHAR}
	</select>
	<select id="selectByall" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_app_user_merchant
		where app_user_id = #{appUserId,jdbcType=INTEGER} and role_id =
		#{roleId,jdbcType=VARCHAR} and inner_code = #{innerCode,jdbcType=VARCHAR}
	</select>
	<!-- 根据innerCode查询出店铺绑定 -->
	<select id="selectByInnerCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_app_user_merchant
		where inner_code = #{innerCode,jdbcType=VARCHAR} and role_id =
		#{roleId,jdbcType=VARCHAR}
	</select>
	<select id="selectOneByInnerCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_app_user_merchant
		where inner_code = #{innerCode,jdbcType=VARCHAR} and role_id =
		#{roleId,jdbcType=VARCHAR}
	</select>
	<select id="selectByCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_app_user_merchant
		where inner_code = #{innerCode,jdbcType=VARCHAR} and role_id =
		#{roleId,jdbcType=VARCHAR}
	</select>
	<!-- 根据innerCode和appUserId删除绑定关系 -->
	<delete id="deleteByPrimaryKey">
		delete from u_app_user_merchant
		where inner_code = #{innerCode,jdbcType=VARCHAR} and app_user_id =
		#{appUserId,jdbcType=INTEGER}
	</delete>
	<!-- 更新用户角色 -->
	<update id="updateByPrimaryKeySelective" parameterType="net.fnsco.order.service.domain.AppUserMerchant" >
    update u_app_user_merchant
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="innerCode != null" >
        inner_code = #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="appUserId != null" >
        app_user_id = #{appUserId,jdbcType=INTEGER},
      </if>
      <if test="modefyTime != null" >
        modefy_time = #{modefyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
   <insert id="insertSelective" parameterType="net.fnsco.order.service.domain.AppUserMerchant" >
    insert into u_app_user_merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="appUserId != null" >
        app_user_id,
      </if>
      <if test="modefyTime != null" >
        modefy_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="appUserId != null" >
        #{appUserId,jdbcType=INTEGER},
      </if>
      <if test="modefyTime != null" >
        #{modefyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
    <!-- 根据商家ID删除关联数据 -->
 <delete id="deleteByMerCoreIds" parameterType="java.lang.Integer">
   DELETE   FROM u_app_user_merchant  WHERE inner_code in (
	 SELECT inner_code FROM m_merchant_core WHERE id in 
	  <foreach item="item" collection="array" open="(" separator="," close=")">
       #{item}
     </foreach>
	)
</delete>
<!-- 查询商家信息 -->
 <select id="selectByUserIdAndRoleId" resultType="net.fnsco.order.api.dto.TradeMerchantDTO">
     SELECT
		inner_code AS innerCode,
		mer_name AS merName
		FROM
			m_merchant_core
		WHERE
			inner_code IN (
				SELECT
					inner_code
				FROM
					u_app_user_merchant
				WHERE
					app_user_id = #{appUserId}
				AND role_id = #{roleId}
			)
			 AND status = 1
 </select>
</mapper>