<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.bigdata.service.dao.master.MerchantCoreDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.bigdata.service.domain.MerchantCore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="mer_name" property="merName" jdbcType="VARCHAR" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="legal_person_mobile" property="legalPersonMobile" jdbcType="VARCHAR" />
    <result column="legal_person_tel" property="legalPersonTel" jdbcType="VARCHAR" />
    <result column="legal_valid_card_type" property="legalValidCardType" jdbcType="VARCHAR" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="card_valid_time" property="cardValidTime" jdbcType="VARCHAR" />
    <result column="business_license_num" property="businessLicenseNum" jdbcType="VARCHAR" />
    <result column="business_license_valid_time" property="businessLicenseValidTime" jdbcType="VARCHAR" />
    <result column="tax_regist_code" property="taxRegistCode" jdbcType="VARCHAR" />
    <result column="regist_address" property="registAddress" jdbcType="VARCHAR" />
    <result column="merc_flag" property="mercFlag" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="mer_id" property="merId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="QueryMerchantMap" type="net.fnsco.bigdata.service.domain.MerchantCore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="mer_name" property="merName" jdbcType="VARCHAR" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="legal_person_mobile" property="legalPersonMobile" jdbcType="VARCHAR" />
    <result column="legal_person_tel" property="legalPersonTel" jdbcType="VARCHAR" />
    <result column="legal_valid_card_type" property="legalValidCardType" jdbcType="VARCHAR" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="card_valid_time" property="cardValidTime" jdbcType="VARCHAR" />
    <result column="business_license_num" property="businessLicenseNum" jdbcType="VARCHAR" />
    <result column="business_license_valid_time" property="businessLicenseValidTime" jdbcType="VARCHAR" />
    <result column="tax_regist_code" property="taxRegistCode" jdbcType="VARCHAR" />
    <result column="regist_address" property="registAddress" jdbcType="VARCHAR" />
    <result column="merc_flag" property="mercFlag" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="channel_type" property="channelType" jdbcType="VARCHAR" />
  </resultMap>
  <!-- APP商户终端列表结果集 -->
  <resultMap  id="TerminalResultMap" type="net.fnsco.bigdata.api.dto.MerTerminalsDTO">
    	<result column="mer_name" property="merName" jdbcType="VARCHAR" />
    	<collection property="terminals" column="inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantTerminalDao.queryByInnerCode"/>
  </resultMap>
  <!-- APP商家详情结果集 -->
  <resultMap id="DetailResultMap" type="net.fnsco.bigdata.api.dto.MerChantCoreDetailDTO">
  	<id column="id" property="id" jdbcType="INTEGER" />
     <result column="mer_name" property="merName" jdbcType="VARCHAR" />
     <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
     <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
     <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
     <result column="open_bank" property="openBank" jdbcType="VARCHAR" />
     <result column="sub_bank_name" property="subBankName" jdbcType="VARCHAR" />
     <result column="inner_code" property="taiCodeUrl" jdbcType="VARCHAR"/>
  </resultMap>
  <!-- APP商户列表实体结果集 -->
  <resultMap  id="CoreResultMap" type="net.fnsco.bigdata.api.dto.MerChantCoreDTO">
     <id column="id" property="id" jdbcType="INTEGER" />
     <result column="entity_inner_code" property="entityInnerCode" jdbcType="VARCHAR" />
     <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
     <result column="mer_name" property="merName" jdbcType="VARCHAR" />
     <result column="merc_name" property="mercName" jdbcType="VARCHAR" />
     <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
     <result column="regist_address" property="registAddress" jdbcType="VARCHAR" />
     <result column="scores" property="scores" jdbcType="DECIMAL" />
  </resultMap>
  <!-- 所有关联数据结果集 -->
  <resultMap id="AllResultMap" type="net.fnsco.bigdata.service.domain.MerchantCore">
  <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="mer_name" property="merName" jdbcType="VARCHAR" />
    <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="legal_person_mobile" property="legalPersonMobile" jdbcType="VARCHAR" />
    <result column="legal_person_tel" property="legalPersonTel" jdbcType="VARCHAR" />
    <result column="legal_valid_card_type" property="legalValidCardType" jdbcType="VARCHAR" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="card_valid_time" property="cardValidTime" jdbcType="VARCHAR" />
    <result column="business_license_num" property="businessLicenseNum" jdbcType="VARCHAR" />
    <result column="business_license_valid_time" property="businessLicenseValidTime" jdbcType="VARCHAR" />
    <result column="tax_regist_code" property="taxRegistCode" jdbcType="VARCHAR" />
    <result column="regist_address" property="registAddress" jdbcType="VARCHAR" />
    <result column="merc_flag" property="mercFlag" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="regist_province" property="registProvince" jdbcType="INTEGER" />
    <result column="regist_city" property="registCity" jdbcType="INTEGER" />
    <result column="regist_area" property="registArea" jdbcType="INTEGER" />
    <result column="regist_address_detail" property="registAddressDetail" jdbcType="VARCHAR" />
    <result column="etps_attr" property="etpsAttr" jdbcType="INTEGER" />
    <result column="etps_tp" property="etpsTp" jdbcType="INTEGER" />
  	<collection property="channel" column="inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantChannelDao.selectByInnerCode" />
  	<collection property="files" column="inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantFileDao.queryByInnerCode"/>
  	<collection property="contacts" column="inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantContactDao.queryByInnerCode" />
  	<collection property="banks" column="inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantBankDao.queryWebByInnerCode" />
  	<collection property="posDeviceInfos" column="inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantPosDao.selectByInnerCode" />
  	<collection property="terminaInfos" column="inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantTerminalDao.selectByInnerCode" />
  </resultMap>	
  
  <sql id="Base_Column_List" >
    id, agent_id,inner_code, mer_name, abbreviation, en_name, sign_date, legal_person, legal_person_mobile, 
    legal_person_tel, legal_valid_card_type, card_num, card_valid_time, business_license_num, 
    business_license_valid_time, tax_regist_code, regist_address, merc_flag, source, 
    modify_user_id, modify_time, status,regist_province,regist_city,regist_area,regist_address_detail,etps_attr
  </sql>
  <sql id="Base_Column_CH_List" >
    CO.id, CO.agent_id,CO.inner_code, CO.mer_name, CO.abbreviation, CO.en_name, CO.sign_date, CO.legal_person, CO.legal_person_mobile, 
    CO.legal_person_tel, CO.legal_valid_card_type, CO.card_num, CO.card_valid_time, CO.business_license_num, 
    CO.business_license_valid_time, CO.tax_regist_code, CO.regist_address, CO.merc_flag, CO.source, 
    CO.modify_user_id, CO.modify_time,CO.create_time, CO.status , CH.channel_type
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_merchant_core
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_merchant_core
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.fnsco.bigdata.service.domain.MerchantCore" >
    insert into m_merchant_core (id, inner_code, mer_name, 
      abbreviation, en_name, sign_date, 
      legal_person, legal_person_mobile, legal_person_tel, 
      legal_valid_card_type, card_num, card_valid_time, 
      business_license_num, business_license_valid_time, 
      tax_regist_code, regist_address, merc_flag, 
      source, modify_user_id, modify_time, 
      status)
    values (#{id,jdbcType=INTEGER}, #{innerCode,jdbcType=VARCHAR}, #{merName,jdbcType=VARCHAR}, 
      #{abbreviation,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, #{signDate,jdbcType=VARCHAR}, 
      #{legalPerson,jdbcType=VARCHAR}, #{legalPersonMobile,jdbcType=VARCHAR}, #{legalPersonTel,jdbcType=VARCHAR}, 
      #{legalValidCardType,jdbcType=VARCHAR}, #{cardNum,jdbcType=VARCHAR}, #{cardValidTime,jdbcType=VARCHAR}, 
      #{businessLicenseNum,jdbcType=VARCHAR}, #{businessLicenseValidTime,jdbcType=VARCHAR}, 
      #{taxRegistCode,jdbcType=VARCHAR}, #{registAddress,jdbcType=VARCHAR}, #{mercFlag,jdbcType=VARCHAR}, 
      #{source,jdbcType=INTEGER}, #{modifyUserId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.bigdata.service.domain.MerchantCore" >
    insert into m_merchant_core
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="merName != null" >
        mer_name,
      </if>
      <if test="abbreviation != null" >
        abbreviation,
      </if>
      <if test="enName != null" >
        en_name,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="legalPersonMobile != null" >
        legal_person_mobile,
      </if>
      <if test="legalPersonTel != null" >
        legal_person_tel,
      </if>
      <if test="legalValidCardType != null" >
        legal_valid_card_type,
      </if>
      <if test="cardNum != null" >
        card_num,
      </if>
      <if test="cardValidTime != null" >
        card_valid_time,
      </if>
      <if test="businessLicenseNum != null" >
        business_license_num,
      </if>
      <if test="businessLicenseValidTime != null" >
        business_license_valid_time,
      </if>
      <if test="taxRegistCode != null" >
        tax_regist_code,
      </if>
      <if test="registAddress != null" >
        regist_address,
      </if>
      <if test="mercFlag != null" >
        merc_flag,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <!-- 新增字段 -->
      <if test="registProvince != null" >
        regist_province,
      </if>
      <if test="registCity != null" >
        regist_city,
      </if>
      <if test="registArea != null" >
        regist_area,
      </if>
      <if test="etpsAttr != null" >
        etps_attr,
      </if>
      <if test="etpsTp != null" >
        etps_tp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="merName != null" >
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null" >
        #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonMobile != null" >
        #{legalPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonTel != null" >
        #{legalPersonTel,jdbcType=VARCHAR},
      </if>
      <if test="legalValidCardType != null" >
        #{legalValidCardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null" >
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="cardValidTime != null" >
        #{cardValidTime,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNum != null" >
        #{businessLicenseNum,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseValidTime != null" >
        #{businessLicenseValidTime,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistCode != null" >
        #{taxRegistCode,jdbcType=VARCHAR},
      </if>
      <if test="registAddress != null" >
        #{registAddress,jdbcType=VARCHAR},
      </if>
      <if test="mercFlag != null" >
        #{mercFlag,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=INTEGER},
      </if>
      <!-- 新增字段 -->
      <if test="registProvince != null" >
         #{registProvince,jdbcType=VARCHAR},
      </if>
      <if test="registCity != null" >
        #{registCity,jdbcType=VARCHAR},
      </if>
      <if test="registArea != null" >
        #{registArea,jdbcType=VARCHAR},
      </if>
      <if test="etpsAttr != null" >
        #{etpsAttr,jdbcType=VARCHAR},
      </if>
      <if test="etpsTp != null" >
        #{etpsTp,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.fnsco.bigdata.service.domain.MerchantCore" >
    update m_merchant_core
    <set >
      <if test="innerCode != null" >
        inner_code = #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="merName != null" >
        mer_name = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null" >
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonMobile != null" >
        legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonTel != null" >
        legal_person_tel = #{legalPersonTel,jdbcType=VARCHAR},
      </if>
      <if test="legalValidCardType != null" >
        legal_valid_card_type = #{legalValidCardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null" >
        card_num = #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="cardValidTime != null" >
        card_valid_time = #{cardValidTime,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNum != null" >
        business_license_num = #{businessLicenseNum,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseValidTime != null" >
        business_license_valid_time = #{businessLicenseValidTime,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistCode != null" >
        tax_regist_code = #{taxRegistCode,jdbcType=VARCHAR},
      </if>
      <if test="registAddress != null" >
        regist_address = #{registAddress,jdbcType=VARCHAR},
      </if>
      <if test="mercFlag != null" >
        merc_flag = #{mercFlag,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
	  <if test="registProvince != null" >
        regist_province = #{registProvince,jdbcType=VARCHAR},
      </if>
      <if test="registCity != null" >
        regist_city = #{registCity,jdbcType=VARCHAR},
      </if>
      <if test="registArea != null" >
        regist_area = #{registArea,jdbcType=VARCHAR},
      </if>
      <if test="etpsAttr != null" >
        etps_attr = #{etpsAttr,jdbcType=INTEGER},
      </if>
      <if test="etpsTp != null" >
        etps_tp = #{etpsTp,jdbcType=INTEGER},
      </if>
      <if test="registAddressDetail != null" >
        regist_address_detail = #{registAddressDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.fnsco.bigdata.service.domain.MerchantCore" >
    update m_merchant_core
    set inner_code = #{innerCode,jdbcType=VARCHAR},
      mer_name = #{merName,jdbcType=VARCHAR},
      abbreviation = #{abbreviation,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      sign_date = #{signDate,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR},
      legal_person_tel = #{legalPersonTel,jdbcType=VARCHAR},
      legal_valid_card_type = #{legalValidCardType,jdbcType=VARCHAR},
      card_num = #{cardNum,jdbcType=VARCHAR},
      card_valid_time = #{cardValidTime,jdbcType=VARCHAR},
      business_license_num = #{businessLicenseNum,jdbcType=VARCHAR},
      business_license_valid_time = #{businessLicenseValidTime,jdbcType=VARCHAR},
      tax_regist_code = #{taxRegistCode,jdbcType=VARCHAR},
      regist_address = #{registAddress,jdbcType=VARCHAR},
      merc_flag = #{mercFlag,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      agent_id = #{agentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 条件分页查询 -->
  <select id="queryPageList" parameterType="net.fnsco.core.base.PageDTO" resultMap="QueryMerchantMap">
     select 
     <include refid="Base_Column_CH_List" />
   	 from m_merchant_core AS CO LEFT JOIN m_merchant_channel AS CH ON CO.inner_code = CH.inner_code
  	<where>
  	<if test="condition.merId != null and condition.merId != ''" >
         AND CO.inner_code in (
         	SELECT  DISTINCT t.inner_code FROM (select * from m_merchant_channel WHERE channel_mer_id = #{condition.merId ,jdbcType=VARCHAR})as t  
        )
      </if>
      <if test="condition.channelType != null and condition.channelType != ''" >
         AND CO.inner_code in (
         	SELECT DISTINCT c.inner_code FROM (select * from m_merchant_channel WHERE channel_type = #{condition.channelType ,jdbcType=VARCHAR}) as c
        )
      </if>
  	 <if test="condition.innerCode != null and condition.innerCode != ''" >
        AND CO.inner_code = #{condition.innerCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.merName != null and condition.merName != ''" >
        AND CO.mer_name LIKE CONCAT('%', #{condition.merName}, '%')
      </if>
      <if test="condition.abbreviation != null and condition.abbreviation != ''" >
        AND CO.abbreviation = #{condition.abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="condition.enName != null and condition.enName != ''" >
        AND CO.en_name = #{condition.enName,jdbcType=VARCHAR}
      </if>
      <if test="condition.signDate != null and condition.signDate != ''" >
        AND CO.sign_date = #{condition.signDate,jdbcType=VARCHAR}
      </if>
      <if test="condition.legalPerson != null and condition.legalPerson != ''" >
        AND CO.legal_person LIKE CONCAT('%', #{condition.legalPerson}, '%')
      </if>
      <if test="condition.legalPersonMobile != null and condition.legalPersonMobile != ''" >
        AND CO.legal_person_mobile = #{condition.legalPersonMobile,jdbcType=VARCHAR}
      </if>
      <if test="condition.legalPersonTel != null and condition.legalPersonTel != ''" >
        AND CO.legal_person_tel = #{condition.legalPersonTel,jdbcType=VARCHAR}
      </if>
      <if test="condition.legalValidCardType != null and condition.legalValidCardType != ''" >
        AND CO.legal_valid_card_type = #{condition.legalValidCardType,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardNum != null and condition.cardNum != ''" >
        AND CO.card_num = #{condition.cardNum,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardValidTime != null and condition.cardValidTime != ''" >
        AND CO.card_valid_time = #{condition.cardValidTime,jdbcType=VARCHAR}
      </if>
      <if test="condition.businessLicenseNum != null and condition.businessLicenseNum != ''" >
        AND CO.business_license_num = #{condition.businessLicenseNum,jdbcType=VARCHAR}
      </if>
      <if test="condition.businessLicenseValidTime != null and condition.businessLicenseValidTime != ''" >
        AND CO.business_license_valid_time = #{condition.businessLicenseValidTime,jdbcType=VARCHAR}
      </if>
      <if test="condition.taxRegistCode != null and condition.taxRegistCode != ''" >
        AND CO.tax_regist_code = #{condition.taxRegistCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.registAddress != null and condition.registAddress != ''" >
        AND CO.regist_address = #{condition.registAddress,jdbcType=VARCHAR}
      </if>
      <if test="condition.mercFlag != null and condition.mercFlag != ''" >
        AND CO.merc_flag = #{condition.mercFlag,jdbcType=VARCHAR}
      </if>
      <if test="condition.source != null and condition.source != ''" >
        AND CO.source = #{condition.source,jdbcType=INTEGER}
      </if>
      <if test="condition.modifyUserId != null and condition.modifyUserId != ''" >
        AND CO.modify_user_id = #{condition.modifyUserId,jdbcType=VARCHAR}
      </if>
      <if test="condition.modifyTime != null and condition.modifyTime != ''" >
        AND CO.modify_time = #{condition.modifyTime,jdbcType=TIMESTAMP}
      </if>
        AND CO.status = 1
      </where>
      ORDER BY CO.modify_time DESC
      limit #{startRow} , #{perPageSize} 
  </select>
  <!-- 条件查询总数 -->
  <select id="queryTotalByCondition" parameterType="net.fnsco.bigdata.service.domain.MerchantCore" resultType="java.lang.Integer">
     select count(*)  from 
     		m_merchant_core
  	 <where>
  	 <if test="merId != null and merId != ''" >
         AND inner_code in (
         	SELECT  DISTINCT t.inner_code FROM (select * from m_merchant_channel WHERE channel_mer_id = #{merId ,jdbcType=VARCHAR})as t  
        )
      </if>
      <if test="channelType != null and channelType != ''" >
         AND inner_code in (
         	SELECT DISTINCT c.inner_code FROM (select * from m_merchant_channel WHERE channel_type = #{channelType ,jdbcType=VARCHAR})as c
        )
      </if>
  	 	<if test="innerCode != null and innerCode != ''" >
        AND inner_code = #{innerCode,jdbcType=VARCHAR}
      </if>
      <if test="merName != null and merName != ''" >
        AND mer_name LIKE CONCAT('%', #{merName}, '%')
      </if>
      <if test="abbreviation != null and abbreviation != ''" >
        AND abbreviation = #{abbreviation,jdbcType=VARCHAR}
      </if>
      <if test="enName != null and enName != ''" >
        AND en_name = #{enName,jdbcType=VARCHAR}
      </if>
      <if test="signDate != null and signDate != ''" >
        AND sign_date = #{signDate,jdbcType=VARCHAR}
      </if>
      <if test="legalPerson != null and legalPerson != ''" >
        AND legal_person LIKE CONCAT('%', #{legalPerson}, '%')
      </if>
      <if test="legalPersonMobile != null and legalPersonMobile != ''" >
        AND legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR}
      </if>
      <if test="legalPersonTel != null and legalPersonTel != ''" >
        AND legal_person_tel = #{legalPersonTel,jdbcType=VARCHAR}
      </if>
      <if test="legalValidCardType != null and legalValidCardType != ''" >
        AND legal_valid_card_type = #{legalValidCardType,jdbcType=VARCHAR}
      </if>
      <if test="cardNum != null and cardNum != ''" >
        AND card_num = #{cardNum,jdbcType=VARCHAR}
      </if>
      <if test="cardValidTime != null and cardValidTime != ''" >
        AND card_valid_time = #{cardValidTime,jdbcType=VARCHAR}
      </if>
      <if test="businessLicenseNum != null and businessLicenseNum != ''" >
        AND business_license_num = #{businessLicenseNum,jdbcType=VARCHAR}
      </if>
      <if test="businessLicenseValidTime != null and businessLicenseValidTime != ''" >
        AND business_license_valid_time = #{businessLicenseValidTime,jdbcType=VARCHAR}
      </if>
      <if test="taxRegistCode != null and taxRegistCode != ''" >
        AND tax_regist_code = #{taxRegistCode,jdbcType=VARCHAR}
      </if>
      <if test="registAddress != null and registAddress != ''" >
        AND regist_address = #{registAddress,jdbcType=VARCHAR}
      </if>
      <if test="mercFlag != null and mercFlag != ''" >
        AND merc_flag = #{mercFlag,jdbcType=VARCHAR}
      </if>
      <if test="source != null and source != ''" >
        AND source = #{source,jdbcType=INTEGER}
      </if>
      <if test="modifyUserId != null and modifyUserId != ''" >
        AND modify_user_id = #{modifyUserId,jdbcType=VARCHAR}
      </if>
      <if test="modifyTime != null and modifyTime != ''" >
        AND modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
        AND status = 1
  	 </where>
  </select>
  <!-- 根据条件查询所有数据 -->
  <select id="queryListByCondition" parameterType="net.fnsco.bigdata.service.domain.MerchantCore" resultMap="BaseResultMap">
     select 
     <include refid="Base_Column_List" />
   	 from m_merchant_core
   	 <where>
   	  <if test="merId != null and merId != ''" >
          AND inner_code in (
         	SELECT  DISTINCT t.inner_code FROM (select * from m_merchant_channel WHERE channel_mer_id = #{merId ,jdbcType=VARCHAR})as t  
        )
      </if>
   	   <if test="innerCode != null" >
        AND inner_code = #{innerCode,jdbcType=VARCHAR}
      </if>
      <if test="merName != null" >
        AND mer_name LIKE CONCAT('%', #{merName}, '%')
      </if>
      <if test="abbreviation != null" >
        AND abbreviation = #{abbreviation,jdbcType=VARCHAR}
      </if>
      <if test="enName != null" >
        AND en_name = #{enName,jdbcType=VARCHAR}
      </if>
      <if test="signDate != null" >
        AND sign_date = #{signDate,jdbcType=VARCHAR}
      </if>
      <if test="legalPerson != null" >
        AND legal_person LIKE CONCAT('%', #{legalPerson}, '%') 
      </if>
      <if test="legalPersonMobile != null" >
        AND legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR}
      </if>
      <if test="legalPersonTel != null" >
        AND legal_person_tel = #{legalPersonTel,jdbcType=VARCHAR}
      </if>
      <if test="legalValidCardType != null" >
        AND legal_valid_card_type = #{legalValidCardType,jdbcType=VARCHAR}
      </if>
      <if test="cardNum != null" >
        AND card_num = #{cardNum,jdbcType=VARCHAR}
      </if>
      <if test="cardValidTime != null" >
        AND card_valid_time = #{cardValidTime,jdbcType=VARCHAR}
      </if>
      <if test="businessLicenseNum != null" >
        AND business_license_num = #{businessLicenseNum,jdbcType=VARCHAR}
      </if>
      <if test="businessLicenseValidTime != null" >
        AND business_license_valid_time = #{businessLicenseValidTime,jdbcType=VARCHAR}
      </if>
      <if test="taxRegistCode != null" >
        AND tax_regist_code = #{taxRegistCode,jdbcType=VARCHAR}
      </if>
      <if test="registAddress != null" >
        AND regist_address = #{registAddress,jdbcType=VARCHAR}
      </if>
      <if test="mercFlag != null" >
        AND merc_flag = #{mercFlag,jdbcType=VARCHAR}
      </if>
      <if test="source != null" >
        AND source = #{source,jdbcType=INTEGER}
      </if>
      <if test="modifyUserId != null" >
        AND modify_user_id = #{modifyUserId,jdbcType=VARCHAR}
      </if>
      <if test="modifyTime != null" >
        AND modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null" >
        AND status = #{status,jdbcType=INTEGER}
      </if>
   	 </where>
  </select>
  <!-- 根据ID批量删除 -->
  <delete id="deleteByMultipleKey" parameterType="java.lang.Integer" >
    delete from m_merchant_core where id in
     <foreach item="item" collection="array" open="(" separator="," close=")">
       #{item}
     </foreach>
  </delete>
  <!-- 根据ID批量修改状态，逻辑删除 -->
  <update id="updateStatusByMutipleKey" parameterType="java.lang.Integer">
     update m_merchant_core set status = 0 where id in 
     <foreach item="item" collection="array" open="(" separator="," close=")">
       #{item}
     </foreach>
  </update>
  <!-- 根据ID查询出所有商户关联的数据 -->
  <select id="queryAllById" parameterType="java.lang.Integer" resultMap="AllResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from m_merchant_core
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 根据userId查询关联的商户实体 -->
  <select id="queryAllByUseraId" parameterType="java.lang.Integer" resultMap="CoreResultMap">
      SELECT
			CO.id, CO.mer_name, CO.regist_address, CO.legal_person
		FROM
			m_merchant_core CO
		RIGHT JOIN (
			SELECT
				*
			FROM
				m_merchant_user_rel
			WHERE
				app_user_id = #{userId}
		) REL ON CO.inner_code = REL.inner_code WHERE CO.status=1
  </select>
	<!-- 根据userId查询关联的商户实体包括积分 -->
	<select id="getMerchantsScoresByUserId" parameterType="java.lang.Integer"
	resultMap="CoreResultMap">
SELECT
	entity_inner_code,
	merc_name,
	IFNULL(scores, 0) scores
FROM
	m_merchant_entity
WHERE
	entity_inner_code IN (
		SELECT DISTINCT
			entity_inner_code
		FROM
			m_merchant_core_entity_ref
		WHERE
					inner_code IN (
						SELECT
							inner_code
						FROM
							m_merchant_user_rel
						WHERE
							app_user_id = #{userId}
						AND STATUS = 1
					)
	)
	</select>
	<!-- 根据实体商户号查询关联的商户实体包括积分 -->
	<select id="selectByEntityInnerCode" parameterType="net.fnsco.bigdata.service.domain.MerchantUserRel"
		resultMap="CoreResultMap">
		SELECT
		   IFNULL(scores, 0) scores,
		   entity_inner_code,
		   merc_name
		FROM
		   m_merchant_entity
		where
		   entity_inner_code=#{entityInnerCode}
	</select>
  
  <select id="getMerChantCoreByInnerCode" parameterType="java.lang.String" resultMap="AllResultMap">
       select 
	    <include refid="Base_Column_List" />
	    from m_merchant_core
	    where inner_code = #{innerCode,jdbcType=VARCHAR} and status=1 limit 1
  </select>

  <!-- APP根据ID查询详情信息 -->
  <select id="queryDetailById" parameterType="java.lang.Integer"  resultMap="DetailResultMap">
     SELECT 
		CO.*,
		BA.account_no,
		BA.open_bank,
		BA.sub_bank_name
		FROM (SELECT
			id,
			mer_name,
			legal_person,
			card_num,
			inner_code
		FROM
			m_merchant_core
		WHERE
			id = #{merId} ) CO LEFT JOIN m_merchant_bank BA ON CO.inner_code = BA.inner_code LIMIT 1 
  </select>
  <!-- APP根据用户ID查询设备列表 -->
  <select id="queryMerTerminalsByUserId" parameterType="java.lang.Integer" resultMap="TerminalResultMap">
    SELECT
				CO.mer_name,
				CO.inner_code
			FROM
				(
					SELECT
						inner_code
					FROM
						m_merchant_user_rel
					WHERE
						app_user_id = #{userId}
				) REL
			LEFT JOIN m_merchant_core CO ON REL.inner_code = CO.inner_code WHERE CO.status=1
  </select>
  
   <select id="selectByInnerCode" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from m_merchant_core
    where inner_code = #{innerCode,jdbcType=VARCHAR}
    and status=1
    limit 1
  </select>
  <!--根据手机号查询inner_code-->
  <select id="innerCodeByMobile" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from m_merchant_core
    where legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR}
  </select>
  <!-- 根据营业执照号码查询 -->
  <select id="selectBybusinessLicenseNum" parameterType="java.lang.String" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
    from m_merchant_core
    where business_license_num = #{businessLicenseNum,jdbcType=VARCHAR} AND inner_code  = (SELECT inner_code FROM m_merchant_bank WHERE account_no = #{accountNo} limit 1) limit 1
  </select>
  <!-- 查询 身份证+银行卡+通道类型+通道商户号 -->
  <select id="selectUniqueMer" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
	MC.*
	FROM
		m_merchant_core MC
	WHERE
		card_num = #{cardNum}
	AND (
		SELECT
			COUNT(*)
		FROM
			m_merchant_bank MB
		WHERE
			account_no = #{accountNo}
		AND MC.inner_code = MB.inner_code
	) > 0
	AND (
		SELECT
			COUNT(*)
		FROM
			m_merchant_channel MMC
		WHERE
			MC.inner_code = MMC.inner_code
		AND channel_type = #{channelType}
		AND channel_mer_id = #{channelMerId}
	) > 0  LIMIT 1
  </select>
  
</mapper>