<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.bigdata.service.dao.master.terminal.TerminalDAO">
	<resultMap id="BaseResultMap"
		type="net.fnsco.bigdata.service.domain.TerminalInformation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
		<result column="pos_id" property="posId" jdbcType="INTEGER" />
		<result column="terminal_code" property="terminalCode" jdbcType="VARCHAR" />
		<result column="channel_terminal_code" property="innerTermCode" jdbcType="VARCHAR" />
		<result column="terminal_batch" property="terminalBatch" jdbcType="VARCHAR" />
		<result column="terminal_para" property="terminalPara" jdbcType="VARCHAR" />
		<result column="charges_type" property="chargesType" jdbcType="INTEGER" />
		<result column="debit_card_rate" property="debitCardRate" jdbcType="VARCHAR" />
		<result column="credit_card_rate" property="creditCardRate" jdbcType="VARCHAR" />
		<result column="debit_card_fee" property="debitCardFee" jdbcType="INTEGER" />
		<result column="credit_card_fee" property="creditCardFee" jdbcType="INTEGER" />
		<result column="debit_card_max_fee" property="debitCardMaxFee" jdbcType="INTEGER" />
		<result column="credit_card_max_fee" property="creditCardMaxFee" jdbcType="INTEGER" />
		<result column="deal_switch" property="dealSwitch" jdbcType="VARCHAR" />
		<result column="record_state" property="recordState" jdbcType="VARCHAR" />
		<result column="term_audit_state" property="termAuditState" jdbcType="VARCHAR" />
		<result column="term_name" property="termName" jdbcType="VARCHAR" />
		<result column="wechat_fee" property="wechatFee" jdbcType="VARCHAR" />
		<result column="alipay_fee" property="alipayFee" jdbcType="VARCHAR" />
		<result column="terminal_type" property="terminalType" jdbcType="VARCHAR" />
		<result column="channel_id" property="channelId" jdbcType="INTEGER" />
		<result column="pos_name" property="posName" jdbcType="VARCHAR" />
		<result column="sn_code" property="snCode" jdbcType="VARCHAR" />
		<result column="pos_factory" property="posFactory" jdbcType="VARCHAR" />
		<result column="pos_type" property="posType" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="bank_id" property="bankId" jdbcType="INTEGER" />
		<result column="merc_refer_name" property="mercReferName" jdbcType="VARCHAR" />
		<result column="pos_addr" property="posAddr" jdbcType="VARCHAR" />
		<result column="pos_province" property="posProvince" jdbcType="INTEGER" />
		<result column="pos_city" property="posCity" jdbcType="INTEGER" />
		<result column="pos_area" property="posArea" jdbcType="INTEGER" />
		<result column="channel_type" property="channelType" jdbcType="VARCHAR" />
		<result column="channel_mer_id" property="channelMerId" jdbcType="VARCHAR" />
		<result column="channel_mer_key" property="channelMerKey" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
		<result column="mer_name" property="merName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, inner_code, pos_id, terminal_code, channel_terminal_code,
		terminal_batch, terminal_para,
		charges_type, debit_card_rate, credit_card_rate, debit_card_fee, credit_card_fee,
		debit_card_max_fee, credit_card_max_fee, deal_switch, record_state,
		term_audit_state,
		term_name, wechat_fee, alipay_fee, terminal_type
	</sql>
	<!-- web端分页条件查询 -->
	<select id="queryPageList" parameterType="net.fnsco.core.base.PageDTO" resultMap="BaseResultMap">
		SELECT
		TPC.*,CO.mer_name
		FROM
		(
		SELECT
		TP.*,C.channel_type,C.channel_mer_id,C.channel_mer_key,C.create_time,C.modify_time,C.modify_user_id
		FROM
		(
		SELECT
		T.*,
		P.channel_id,
		P.pos_name,
		P.sn_code,
		P.pos_factory,
		P.pos_type,
		P.status,
		P.bank_id,
		P.merc_refer_name,
		P.pos_addr,
		P.pos_province,
		P.pos_city,
		P.pos_area
		FROM
		(SELECT * from m_merchant_terminal
		<where>
			<if test="condition.id != null and  condition.id != ''">
				AND id = #{condition.id ,jdbcType=INTEGER}
			</if>
			<if test="condition.innerCode != null and  condition.innerCode != ''">
				AND inner_code = #{condition.innerCode ,jdbcType=VARCHAR}
			</if>
			<if test="condition.merName != null and  condition.merName != ''">
				AND inner_code in (
         		SELECT inner_code FROM m_merchant_core WHERE mer_name LIKE CONCAT('%',#{condition.merName ,jdbcType=VARCHAR},'%') 
        		)
			</if>
			<if test="condition.channelMerId != null and  condition.channelMerId != ''">
				AND inner_code in (
         		SELECT inner_code FROM m_merchant_channel WHERE channel_mer_id = #{condition.channelMerId ,jdbcType=VARCHAR} 
        		)
			</if>
			<if test="condition.posId != null and condition.posId !=''">
				AND pos_id = #{condition.posId ,jdbcType=INTEGER}
			</if>
			<if test="condition.snCode != null and  condition.snCode != ''">
				AND pos_id in (
         		SELECT id FROM m_merchant_pos WHERE sn_code = #{condition.snCode ,jdbcType=VARCHAR} 
        		)
			</if>
			<if test="condition.terminalCode != null and condition.terminalCode !=''">
				AND terminal_code = #{condition.terminalCode ,jdbcType=VARCHAR}
			</if>
			<if
				test="condition.innerTermCode != null and condition.innerTermCode !=''">
				AND channel_terminal_code = #{condition.innerTermCode
				,jdbcType=VARCHAR}
			</if>
			<if
				test="condition.terminalBatch != null and condition.terminalBatch !=''">
				AND terminal_batch = #{condition.terminalBatch ,jdbcType=VARCHAR}
			</if>
			<if
				test="condition.terminalPara != null and  condition.terminalPara != ''">
				AND terminal_para = #{condition.terminalPara ,jdbcType=VARCHAR}
			</if>
			<if test="condition.chargesType != null and condition.chargesType !=''">
				AND charges_type = #{condition.chargesType ,jdbcType=INTEGER}
			</if>
			<if
				test="condition.debitCardRate != null and condition.debitCardRate !=''">
				AND debit_card_rate = #{condition.debitCardRate ,jdbcType=VARCHAR}
			</if>
			<if
				test="condition.creditCardRate != null and condition.creditCardRate !=''">
				AND credit_card_rate = #{condition.creditCardRate ,jdbcType=VARCHAR}
			</if>
			<if test="condition.debitCardFee != null and condition.debitCardFee !=''">
				AND debit_card_fee = #{condition.debitCardFee ,jdbcType=INTEGER}
			</if>
			<if
				test="condition.creditCardFee != null and  condition.creditCardFee != ''">
				AND credit_card_fee = #{condition.creditCardFee ,jdbcType=INTEGER}
			</if>
			<if
				test="condition.debitCardMaxFee != null and condition.debitCardMaxFee !=''">
				AND debit_card_max_fee = #{condition.debitCardMaxFee
				,jdbcType=INTEGER}
			</if>
			<if
				test="condition.creditCardMaxFee != null and condition.creditCardMaxFee !=''">
				AND credit_card_max_fee = #{condition.creditCardMaxFee
				,jdbcType=INTEGER}
			</if>
			<if test="condition.dealSwitch != null and condition.dealSwitch !=''">
				AND deal_switch = #{condition.dealSwitch ,jdbcType=VARCHAR}
			</if>
			<if test="condition.recordState != null and condition.recordState !=''">
				AND record_state = #{condition.recordState ,jdbcType=VARCHAR}
			</if>
			<if
				test="condition.termAuditState != null and condition.termAuditState !=''">
				AND term_audit_state = #{condition.termAuditState ,jdbcType=VARCHAR}
			</if>
			<if test="condition.termName != null and  condition.termName != ''">
				AND term_name = #{condition.termName ,jdbcType=VARCHAR}
			</if>
			<if test="condition.wechatFee != null and condition.wechatFee !=''">
				AND wechat_fee = #{condition.wechatFee ,jdbcType=VARCHAR}
			</if>
			<if test="condition.alipayFee != null and condition.alipayFee !=''">
				AND alipay_fee = #{condition.alipayFee ,jdbcType=VARCHAR}
			</if>
			<if test="condition.terminalType != null and condition.terminalType !=''">
				AND terminal_type = #{condition.terminalType ,jdbcType=VARCHAR}
			</if>
		</where>
		) AS T
		LEFT JOIN m_merchant_pos AS P ON T.pos_id = P.id
		) AS TP
		LEFT JOIN m_merchant_channel AS C ON TP.channel_id = C.id
		) AS TPC
		LEFT JOIN m_merchant_core AS CO ON TPC.inner_code = CO.inner_code
		order by id desc
		limit #{startRow} , #{perPageSize}
	</select>
	<!-- 条件查询总数 -->
	<select id="queryTotalByCondition" parameterType="net.fnsco.bigdata.service.domain.TerminalInformation" resultType="java.lang.Integer">
		SELECT count(*)
		FROM
		(
		SELECT
		TP.*,C.channel_type,C.channel_mer_id,C.channel_mer_key,C.create_time,C.modify_time,C.modify_user_id
		FROM
		(
		SELECT
		T.*,
		P.channel_id,
		P.pos_name,
		P.sn_code,
		P.pos_factory,
		P.pos_type,
		P. STATUS,
		P.bank_id,
		P.merc_refer_name,
		P.pos_addr,
		P.pos_province,
		P.pos_city,
		P.pos_area
		FROM
		(SELECT * from m_merchant_terminal
		<where>
			<if test="id != null and  id != ''">
				AND id = #{id ,jdbcType=INTEGER}
			</if>
			<if test="innerCode != null and  innerCode != ''">
				AND inner_code = #{innerCode ,jdbcType=VARCHAR}
			</if>
			<if test="merName != null and  merName != ''">
				AND inner_code in (
         		SELECT inner_code FROM m_merchant_core WHERE mer_name LIKE CONCAT('%',#{merName ,jdbcType=VARCHAR},'%') 
        		)
			</if>
			<if test="channelMerId != null and  channelMerId != ''">
				AND inner_code in (
         		SELECT inner_code FROM m_merchant_channel WHERE channel_mer_id = #{channelMerId ,jdbcType=VARCHAR} 
        		)
			</if>
			<if test="posId != null and posId !=''">
				AND pos_id = #{posId ,jdbcType=INTEGER}
			</if>
			<if test="snCode != null and  snCode != ''">
				AND pos_id in (
         		SELECT id FROM m_merchant_pos WHERE sn_code = #{snCode ,jdbcType=VARCHAR} 
        		)
			</if>
			<if test="terminalCode != null and terminalCode !=''">
				AND terminal_code = #{terminalCode ,jdbcType=VARCHAR}
			</if>
			<if test="innerTermCode != null and innerTermCode !=''">
				AND channel_terminal_code = #{innerTermCode ,jdbcType=VARCHAR}
			</if>
			<if test="terminalBatch != null and terminalBatch !=''">
				AND terminal_batch = #{terminalBatch ,jdbcType=VARCHAR}
			</if>
			<if test="terminalPara != null and  terminalPara != ''">
				AND terminal_para = #{terminalPara ,jdbcType=VARCHAR}
			</if>
			<if test="chargesType != null and chargesType !=''">
				AND charges_type = #{chargesType ,jdbcType=INTEGER}
			</if>
			<if test="debitCardRate != null and debitCardRate !=''">
				AND debit_card_rate = #{debitCardRate ,jdbcType=VARCHAR}
			</if>
			<if test="creditCardRate != null and creditCardRate !=''">
				AND credit_card_rate = #{creditCardRate ,jdbcType=VARCHAR}
			</if>
			<if test="debitCardFee != null and debitCardFee !=''">
				AND debit_card_fee = #{debitCardFee ,jdbcType=INTEGER}
			</if>
			<if test="creditCardFee != null and  creditCardFee != ''">
				AND credit_card_fee = #{creditCardFee ,jdbcType=INTEGER}
			</if>
			<if test="debitCardMaxFee != null and debitCardMaxFee !=''">
				AND debit_card_max_fee = #{debitCardMaxFee ,jdbcType=INTEGER}
			</if>
			<if test="creditCardMaxFee != null and creditCardMaxFee !=''">
				AND credit_card_max_fee = #{creditCardMaxFee ,jdbcType=INTEGER}
			</if>
			<if test="dealSwitch != null and dealSwitch !=''">
				AND deal_switch = #{dealSwitch ,jdbcType=VARCHAR}
			</if>
			<if test="recordState != null and recordState !=''">
				AND record_state = #{recordState ,jdbcType=VARCHAR}
			</if>
			<if test="termAuditState != null and termAuditState !=''">
				AND term_audit_state = #{termAuditState ,jdbcType=VARCHAR}
			</if>
			<if test="termName != null and  termName != ''">
				AND term_name = #{termName ,jdbcType=VARCHAR}
			</if>
			<if test="wechatFee != null and wechatFee !=''">
				AND wechat_fee = #{wechatFee ,jdbcType=VARCHAR}
			</if>
			<if test="alipayFee != null and alipayFee !=''">
				AND alipay_fee = #{alipayFee ,jdbcType=VARCHAR}
			</if>
			<if test="terminalType != null and terminalType !=''">
				AND terminal_type = #{terminalType ,jdbcType=VARCHAR}
			</if>
		</where>
		) AS T
		LEFT JOIN m_merchant_pos AS P ON T.pos_id = P.id
		) AS TP
		LEFT JOIN m_merchant_channel AS C ON TP.channel_id = C.id
		) AS TPC
		LEFT JOIN m_merchant_core AS CO ON TPC.inner_code = CO.inner_code
	</select>
</mapper>