<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.bigdata.service.dao.master.MerchantExtDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.bigdata.service.domain.MerchantExt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, inner_code
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_merchant_ext
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.fnsco.bigdata.service.domain.MerchantExt" >
    insert into m_merchant_ext (id, inner_code)
    values (#{id,jdbcType=INTEGER}, #{innerCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.bigdata.service.domain.MerchantExt" >
    insert into m_merchant_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>