<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.bigdata.service.dao.master.MerchantEntityDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.bigdata.service.domain.MerchantEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="entity_inner_code" property="entityInnerCode" jdbcType="VARCHAR" />
    <result column="merc_name" property="mercName" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="legal_person_mobile" property="legalPersonMobile" jdbcType="VARCHAR" />
    <result column="business_license_num" property="businessLicenseNum" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_timer" property="createTimer" jdbcType="TIMESTAMP" />
    <result column="create_source" property="createSource" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="last_modefy_timer" property="lastModefyTimer" jdbcType="TIMESTAMP" />
    <result column="last_modefy_user_id" property="lastModefyUserId" jdbcType="INTEGER" />
    <result column="scores" property="scores" jdbcType="DECIMAL" />
    <result column="regist_address" property="registAddress" jdbcType="VARCHAR" />
    <result column="regist_province" property="registProvince" jdbcType="INTEGER" />
    <result column="regist_city" property="registCity" jdbcType="INTEGER" />
    <result column="regist_area" property="registArea" jdbcType="INTEGER" />
    <result column="regist_address_detail" property="registAddressDetail" jdbcType="VARCHAR" />
    <result column="etps_tp" property="etpsTp" jdbcType="INTEGER" />
    <result column="etps_attr" property="etpsAttr" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, entity_inner_code, merc_name, legal_person, legal_person_mobile, business_license_num, 
    card_type, card_num, status, create_timer, create_source, create_user_id, last_modefy_timer, 
    last_modefy_user_id,scores,regist_address,regist_province,regist_city,regist_area,regist_address_detail,etps_attr
  </sql>
 <!-- 店铺列表结果集 -->
  <resultMap id="MerShopResultMap" type="net.fnsco.bigdata.api.dto.MerchantShopDTO" >
    <result column="entity_inner_code" property="entityInnerCode" jdbcType="VARCHAR" />
    <result column="merc_name" property="mercName" jdbcType="VARCHAR" />
    <collection property="entitys" column="entity_inner_code" select="net.fnsco.bigdata.service.dao.master.MerchantShopDao.selectByEntityInnerCode"/>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_merchant_entity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_merchant_entity
    where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <insert id="insert" parameterType="net.fnsco.bigdata.service.domain.MerchantEntity" >
    insert into m_merchant_entity (id, entity_inner_code, merc_name, 
      legal_person, legal_person_mobile, business_license_num, 
      card_type, card_num, status, 
      create_timer, create_source, create_user_id, 
      last_modefy_timer, last_modefy_user_id,scores)
    values (#{id,jdbcType=INTEGER}, #{entityInnerCode,jdbcType=VARCHAR}, #{mercName,jdbcType=VARCHAR}, 
      #{legalPerson,jdbcType=VARCHAR}, #{legalPersonMobile,jdbcType=VARCHAR}, #{businessLicenseNum,jdbcType=VARCHAR}, 
      #{cardType,jdbcType=VARCHAR}, #{cardNum,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTimer,jdbcType=TIMESTAMP}, #{createSource,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{lastModefyTimer,jdbcType=TIMESTAMP}, #{lastModefyUserId,jdbcType=INTEGER}, #{scores,jdbcType=DECIMAL})
      )
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.bigdata.service.domain.MerchantEntity" >
    insert into m_merchant_entity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="entityInnerCode != null" >
        entity_inner_code,
      </if>
      <if test="mercName != null" >
        merc_name,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="legalPersonMobile != null" >
        legal_person_mobile,
      </if>
      <if test="businessLicenseNum != null" >
        business_license_num,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardNum != null" >
        card_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTimer != null" >
        create_timer,
      </if>
      <if test="createSource != null" >
        create_source,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="lastModefyTimer != null" >
        last_modefy_timer,
      </if>
      <if test="lastModefyUserId != null" >
        last_modefy_user_id,
      </if>
      <if test="scores != null" >
        scores,
      </if>
      <!-- 新增地区、商户性质商户类别字段 -->
      <if test="registAddress != null" >
        regist_address,
      </if>
      <if test="registProvince != null" >
        regist_province,
      </if>
      <if test="registCity != null" >
        regist_city,
      </if>
      <if test="registArea != null" >
        regist_area,
      </if>
      <if test="etpsAttr != null" >
        etps_attr,
      </if>
      <if test="etpsTp != null" >
        etps_tp,
      </if>
      <if test="registAddressDetail != null" >
        regist_address_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="entityInnerCode != null" >
        #{entityInnerCode,jdbcType=VARCHAR},
      </if>
      <if test="mercName != null" >
        #{mercName,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonMobile != null" >
        #{legalPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNum != null" >
        #{businessLicenseNum,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null" >
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTimer != null" >
        #{createTimer,jdbcType=TIMESTAMP},
      </if>
      <if test="createSource != null" >
        #{createSource,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="lastModefyTimer != null" >
        #{lastModefyTimer,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModefyUserId != null" >
        #{lastModefyUserId,jdbcType=INTEGER},
      </if>
      <if test="scores != null" >
        #{scores,jdbcType=DECIMAL},
      </if>
      <!-- 新增地区、商户性质商户类别字段 -->
      <if test="registAddress != null" >
        #{registAddress,jdbcType=VARCHAR},
      </if>
      <if test="registProvince != null" >
        #{registProvince,jdbcType=VARCHAR},
      </if>
      <if test="registCity != null" >
        #{registCity,jdbcType=VARCHAR},
      </if>
      <if test="registArea != null" >
        #{registArea,jdbcType=VARCHAR},
      </if>
      <if test="etpsAttr != null" >
        #{etpsAttr,jdbcType=INTEGER},
      </if>
      <if test="etpsTp != null" >
        #{etpsTp,jdbcType=INTEGER},
      </if>
      <if test="registAddressDetail != null" >
        #{registAddressDetail,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="net.fnsco.bigdata.service.domain.MerchantEntity" >
    update m_merchant_entity
    <set >
      <if test="entityInnerCode != null" >
        entity_inner_code = #{entityInnerCode,jdbcType=VARCHAR},
      </if>
      <if test="mercName != null" >
        merc_name = #{mercName,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonMobile != null" >
        legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNum != null" >
        business_license_num = #{businessLicenseNum,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null" >
        card_num = #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTimer != null" >
        create_timer = #{createTimer,jdbcType=TIMESTAMP},
      </if>
      <if test="createSource != null" >
        create_source = #{createSource,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="lastModefyTimer != null" >
        last_modefy_timer = #{lastModefyTimer,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModefyUserId != null" >
        last_modefy_user_id = #{lastModefyUserId,jdbcType=INTEGER},
      </if>
      <if test="scores != null" >
        scores = #{scores,jdbcType=DECIMAL},
      </if>
      <!-- 新增字段 -->
       <if test="registAddress != null" >
        regist_address = #{registAddress,jdbcType=VARCHAR},
      </if>
      <if test="registProvince != null" >
        regist_province = #{registProvince,jdbcType=INTEGER},
      </if>
      <if test="registCity != null" >
        regist_city = #{registCity,jdbcType=INTEGER},
      </if>
      <if test="registArea != null" >
        regist_area = #{registArea,jdbcType=INTEGER},
      </if>
      <if test="etpsAttr != null" >
        etps_attr = #{etpsAttr,jdbcType=DECIMAL},
      </if>
      <if test="etpsTp != null" >
        etps_tp = #{etpsTp,jdbcType=DECIMAL},
      </if>
      <if test="registAddressDetail != null" >
        regist_address_detail = #{registAddressDetail,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.fnsco.bigdata.service.domain.MerchantEntity" >
    update m_merchant_entity
    set entity_inner_code = #{entityInnerCode,jdbcType=VARCHAR},
      merc_name = #{mercName,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR},
      business_license_num = #{businessLicenseNum,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      card_num = #{cardNum,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_timer = #{createTimer,jdbcType=TIMESTAMP},
      create_source = #{createSource,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      last_modefy_timer = #{lastModefyTimer,jdbcType=TIMESTAMP},
      last_modefy_user_id = #{lastModefyUserId,jdbcType=INTEGER},
      scores = #{scores,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 条件分页查询 -->
  <select id="queryPageList" parameterType="net.fnsco.core.base.PageDTO" resultMap="BaseResultMap">
     select 
     <include refid="Base_Column_List" />
   	 from m_merchant_entity
  	<where>
  	<if test="condition.entityInnerCode != null" >
        and entity_inner_code = #{condition.entityInnerCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.mercName != null and condition.mercName != ''" >
        and merc_name like CONCAT('%', #{condition.mercName,jdbcType=VARCHAR},'%')
      </if>
      <if test="condition.legalPerson != null and condition.legalPerson != ''" >
        and legal_person = #{condition.legalPerson,jdbcType=VARCHAR}
      </if>
      <if test="condition.legalPersonMobile != null and condition.legalPersonMobile != ''" >
        and legal_person_mobile = #{condition.legalPersonMobile,jdbcType=VARCHAR}
      </if>
      <if test="condition.businessLicenseNum != null" >
        and business_license_num = #{condition.businessLicenseNum,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardType != null" >
        and card_type = #{condition.cardType,jdbcType=VARCHAR}
      </if>
      <if test="condition.cardNum != null and condition.cardNum != ''" >
        and card_num = #{condition.cardNum,jdbcType=VARCHAR}
      </if>
      <if test="condition.createTimer != null" >
        and create_timer = #{condition.createTimer,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.createSource != null" >
        and create_source = #{condition.createSource,jdbcType=VARCHAR}
      </if>
      <if test="condition.createUserId != null" >
        and create_user_id = #{condition.createUserId,jdbcType=INTEGER}
      </if>
      <if test="condition.lastModefyTimer != null" >
        and last_modefy_timer = #{condition.lastModefyTimer,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.lastModefyUserId != null" >
        and last_modefy_user_id = #{condition.lastModefyUserId,jdbcType=INTEGER}
      </if>
      <if test="condition.scores != null" >
        and scores = #{condition.scores,jdbcType=DECIMAL}
      </if>
        and status = 1
      </where>
      ORDER BY id DESC
      limit #{startRow} , #{perPageSize} 
  </select>
  <!-- 条件查询总数 -->
  <select id="queryTotalByCondition" parameterType="net.fnsco.bigdata.service.domain.MerchantEntity" resultType="java.lang.Integer">
     select count(*)  from 
     		m_merchant_entity
  	 <where>
  	 <if test="entityInnerCode != null" >
        and entity_inner_code = #{entityInnerCode,jdbcType=VARCHAR}
      </if>
      <if test="mercName != null and mercName != ''" >
       and  merc_name like CONCAT('%',#{mercName,jdbcType=VARCHAR},'%')
      </if>
      <if test="legalPerson != null and legalPerson != ''" >
        and legal_person = #{legalPerson,jdbcType=VARCHAR}
      </if>
      <if test="legalPersonMobile != null and legalPersonMobile != ''" >
        and legal_person_mobile = #{legalPersonMobile,jdbcType=VARCHAR}
      </if>
      <if test="businessLicenseNum != null" >
        and business_license_num = #{businessLicenseNum,jdbcType=VARCHAR}
      </if>
      <if test="cardType != null" >
        and card_type = #{cardType,jdbcType=VARCHAR}
      </if>
      <if test="cardNum != null" >
       and  card_num = #{cardNum,jdbcType=VARCHAR}
      </if>
      <if test="createTimer != null" >
       and  create_timer = #{createTimer,jdbcType=TIMESTAMP}
      </if>
      <if test="createSource != null" >
        and create_source = #{createSource,jdbcType=VARCHAR}
      </if>
      <if test="createUserId != null" >
        and create_user_id = #{createUserId,jdbcType=INTEGER}
      </if>
      <if test="lastModefyTimer != null" >
        and last_modefy_timer = #{lastModefyTimer,jdbcType=TIMESTAMP}
      </if>
      <if test="lastModefyUserId != null" >
        and last_modefy_user_id = #{lastModefyUserId,jdbcType=INTEGER}
      </if>
      <if test="scores != null" >
        and scores = #{scores,jdbcType=DECIMAL}
      </if>
      and status = 1
  	 </where>
  </select>
  <!-- 查询渠道商户信息 -->
  <select id="queryPageChannelMerByEntityInnerCode"  resultType="net.fnsco.bigdata.api.dto.ChannelMerchantDTO" parameterType="net.fnsco.core.base.PageDTO">
     SELECT
		MC.mer_name  AS merName,
		MCH.channel_mer_id AS channelMerId,
		MCH.channel_type AS channelType,
		MC.create_time AS createTime,
		(
			SELECT
				COUNT(*)
			FROM
				m_merchant_pos MP
			WHERE
				MP.inner_code = MC.inner_code
			AND MP.channel_id = MCH.id
		) AS posNums
	FROM
		(
			SELECT
				mer_name,
				inner_code,
				create_time
			FROM
				m_merchant_core
			WHERE
				inner_code IN (
					SELECT
						inner_code
					FROM
						m_merchant_core_entity_ref
					WHERE
						entity_inner_code = #{condition} 
				)
		) MC
	LEFT JOIN m_merchant_channel MCH ON MC.inner_code = MCH.inner_code
	ORDER BY createTime DESC
    limit #{startRow} , #{perPageSize} 
  </select>
  <!-- 查询渠道商户总数 -->
  <select id="queryCountChannelMerByEntityInnerCode" parameterType="java.lang.String" resultType="java.lang.Integer">
     SELECT
	COUNT(*) 	
	FROM
		(
			SELECT
				mer_name,
				inner_code,
				create_time
			FROM
				m_merchant_core
			WHERE
				inner_code IN (
					SELECT
						inner_code
					FROM
						m_merchant_core_entity_ref
					WHERE
						entity_inner_code = #{entityInnerCode}
				)
		) MC
	LEFT JOIN m_merchant_channel MCH ON MC.inner_code = MCH.inner_code
  </select>
  <!-- 根据innerCode查询实体信息 -->
  <select id="queryMerEntityByInnerCode" parameterType="java.lang.String"  resultMap="BaseResultMap" >
     SELECT
		 <include refid="Base_Column_List" />
		FROM
			m_merchant_entity
		WHERE
			entity_inner_code = (
				SELECT
					entity_inner_code
				FROM
					m_merchant_core_entity_ref
				WHERE
					inner_code = #{innerCode}
				LIMIT 1
			)
  </select>
  <select id="selectByEntityInnerCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from m_merchant_entity
    where entity_inner_code = #{entityInnerCode}
  </select>
  <!-- 查询店铺列表 -->
  <select id="queryAllShopDetail" parameterType="java.lang.Integer" resultMap="MerShopResultMap">
     SELECT
	merc_name,
	entity_inner_code
	FROM
		m_merchant_entity
	WHERE
		entity_inner_code IN (
			SELECT
				entity_inner_code
			FROM
				m_merchant_core_entity_ref
			WHERE
				inner_code IN (
					SELECT
						inner_code
					FROM
						u_app_user_merchant
					WHERE
						app_user_id = #{userId}
				)
		)
  </select>
  <!-- 查询实体商户列表集合 -->
  <select id="queryAllMerEntity" parameterType="java.lang.Integer" resultType="net.fnsco.bigdata.api.dto.MerEntityDTO" >
    SELECT
	merc_name as mercName,
	entity_inner_code as entityInnerCode
	FROM
		m_merchant_entity
	WHERE
		entity_inner_code IN (
			SELECT
				entity_inner_code
			FROM
				m_merchant_core_entity_ref
			WHERE
				inner_code IN (
					SELECT
						inner_code
					FROM
						u_app_user_merchant
					WHERE
						app_user_id = #{userId}
				)
		)
  </select>
  <update id="updateByEntityInnerCode" parameterType="net.fnsco.bigdata.service.domain.MerchantEntity" >
    update m_merchant_entity
    <set >
      <if test="lastModefyTimer != null" >
        last_modefy_timer = #{lastModefyTimer,jdbcType=TIMESTAMP},
      </if>
      <if test="scores != null" >
        scores = scores + #{scores,jdbcType=DECIMAL},
      </if>
    </set>
    where entity_inner_code = #{entityInnerCode,jdbcType=VARCHAR}
  </update>
  
</mapper>