<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.service.dao.master.trade.TradeByDayDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.service.domain.trade.TradeByDay" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="trade_date" property="tradeDate" jdbcType="VARCHAR" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="turnover" property="turnover" jdbcType="DECIMAL" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, trade_date, inner_code, turnover, order_num, order_price
  </sql>
  <insert id="insert" parameterType="net.fnsco.service.domain.trade.TradeByDay" >
    insert into r_trade_by_day (id, trade_date, inner_code, 
      turnover, order_num, order_price
      )
    values (#{id,jdbcType=INTEGER}, #{tradeDate,jdbcType=VARCHAR}, #{innerCode,jdbcType=VARCHAR}, 
      #{turnover,jdbcType=DECIMAL}, #{orderNum,jdbcType=INTEGER}, #{orderPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.service.domain.trade.TradeByDay" >
    insert into r_trade_by_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradeDate != null" >
        trade_date,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="turnover != null" >
        turnover,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="turnover != null" >
        #{turnover,jdbcType=DECIMAL},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <!-- 根据时间查询 -->
  <select id="selectTradeDayDataByTradeDate" parameterType="net.fnsco.service.domain.trade.TradeByDay" resultType="net.fnsco.api.dto.TurnoverDTO">
    select SUM(turnover) AS turnover,SUM(order_num) AS orderNum from r_trade_by_day
    <where>
      <if test="startTradeDate != null and  startTradeDate != ''">
        AND trade_date &gt;= #{startTradeDate}
      </if>
       <if test="endTradeDate != null and  endTradeDate != ''">
        AND trade_date &lt;= #{endTradeDate}
      </if>
      <if test="tradeDate != null and  tradeDate != ''">
        AND trade_date= #{tradeDate}
      </if>
      <if test="userId != null">
       AND inner_code in (
         SELECT inner_code FROM m_merchant_user_rel WHERE app_user_id=#{userId}
       )
      </if>
      <if test="innerCode !=null and innerCode != ''">
       AND inner_code = #{innerCode}
      </if>
    </where>
  </select>
  <!-- 统计周报数据 -->
  <select id="selectWeekLyTradeData" parameterType="net.fnsco.service.domain.trade.TradeByDay" resultType="net.fnsco.api.dto.TurnoverDTO">
    select SUM(turnover) AS turnover,SUM(order_num) AS orderNum from r_trade_by_day
    <where>
      <if test="startTradeDate != null and  startTradeDate != ''">
        AND trade_date &gt;= #{startTradeDate}
      </if>
       <if test="endTradeDate != null and  endTradeDate != ''">
        AND trade_date &lt;= #{endTradeDate}
      </if>
      <if test="tradeDate != null and  tradeDate != ''">
        AND trade_date= #{tradeDate}
      </if>
      <if test="userId != null">
       AND inner_code in (
         SELECT inner_code FROM u_app_user_merchant WHERE role_id=#{roleId} AND app_user_id=#{userId}
       )
      </if>
    </where>
  </select>
  <!-- 查询每天的数据 -->
  <select id="selectByInnerCode" parameterType="net.fnsco.service.domain.trade.TradeByDay" resultType="net.fnsco.api.dto.TradeDayDTO">
     SELECT trade_date AS tradeDate,order_num AS orderNum, turnover AS turnover FROM r_trade_by_day 
     <where>
       <if test="startTradeDate != null and  startTradeDate != ''">
        AND trade_date &gt;= #{startTradeDate}
      </if>
       <if test="endTradeDate != null and  endTradeDate != ''">
        AND trade_date &lt;= #{endTradeDate}
      </if>
      <if test="innerCode != null and innerCode != ''">
        AND inner_code = #{innerCode}
      </if>
     </where>
  </select>
</mapper>