<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.fnsco.order.service.dao.master.trade.TradeDateTempDao" >
  <resultMap id="BaseResultMap" type="net.fnsco.order.service.domain.trade.TradeDateTemp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="amt" property="amt" jdbcType="VARCHAR" />
    <result column="pay_sub_type" property="paySubType" jdbcType="VARCHAR" />
    <result column="time_stamp" property="timeStamp" jdbcType="VARCHAR" />
    <result column="trade_date" property="tradeDate" jdbcType="VARCHAR" />
    <result column="trade_houre" property="tradeHoure" jdbcType="VARCHAR" />
    <result column="procedure_fee" property="procedureFee" jdbcType="DECIMAL" />
    <result column="terminal_code" property="terminalCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, inner_code, amt, pay_sub_type, time_stamp, trade_date, trade_houre, procedure_fee,terminal_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_trade_date_temp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_trade_date_temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.fnsco.order.service.domain.trade.TradeDateTemp" >
    insert into r_trade_date_temp (id, inner_code, amt, 
      pay_sub_type, time_stamp,terminal_code)
    values (#{id,jdbcType=INTEGER}, #{innerCode,jdbcType=VARCHAR}, #{amt,jdbcType=VARCHAR}, 
      #{paySubType,jdbcType=VARCHAR}, #{timeStamp,jdbcType=VARCHAR}, #{tradeDate,jdbcType=VARCHAR}, 
      #{tradeHoure,jdbcType=VARCHAR},#{terminalCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.fnsco.order.service.domain.trade.TradeDateTemp" >
    insert into r_trade_date_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="amt != null" >
        amt,
      </if>
      <if test="paySubType != null" >
        pay_sub_type,
      </if>
      <if test="timeStamp != null" >
        time_stamp,
      </if>
      <if test="tradeDate != null" >
        trade_date,
      </if>
      <if test="tradeHoure != null" >
        trade_houre,
      </if>
      <if test="terminalCode != null" >
        terminal_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        #{amt,jdbcType=VARCHAR},
      </if>
      <if test="paySubType != null" >
        #{paySubType,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="tradeHoure != null" >
        #{tradeHoure,jdbcType=VARCHAR},
      </if>
      <if test="terminalCode != null" >
        #{terminalCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.fnsco.order.service.domain.trade.TradeDateTemp" >
    update r_trade_date_temp
    <set >
      <if test="innerCode != null" >
        inner_code = #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        amt = #{amt,jdbcType=VARCHAR},
      </if>
      <if test="paySubType != null" >
        pay_sub_type = #{paySubType,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        time_stamp = #{timeStamp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.fnsco.order.service.domain.trade.TradeDateTemp" >
    update r_trade_date_temp
    set inner_code = #{innerCode,jdbcType=VARCHAR},
      amt = #{amt,jdbcType=VARCHAR},
      pay_sub_type = #{paySubType,jdbcType=VARCHAR},
      time_stamp = #{timeStamp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 删除全表数据 -->
  <delete id="deleteAll">
    delete from r_trade_date_temp
  </delete>
  <!-- 按照天统计数据 -->
  <select id="selectTradeDataByDate" resultType="net.fnsco.order.service.domain.trade.TradeByDay" >
    SELECT
		SUM(amt) AS turnover,
		SUM(procedure_fee) AS procedureFee,
		inner_code AS innerCode,
		COUNT(*) AS orderNum,
		cast(
			(SUM(amt) / COUNT(*)) AS DECIMAL (16, 2)
		) AS orderPrice,
		trade_date AS tradeDate
	FROM
		r_trade_date_temp
	GROUP BY
		inner_code,trade_date
  </select>
  <!-- 按小时统计交易额 -->
  <select id="selectTradeDataByHour" resultType="net.fnsco.order.service.domain.trade.TradeByHour">
    SELECT
		SUM(amt) AS turnover,
		inner_code AS innerCode,
		COUNT(*) AS orderNum,
	    trade_houre AS tradeHour,
		cast(
			(SUM(amt) / COUNT(*)) AS DECIMAL (16, 2)
		) AS orderPrice,
    trade_date AS tradeDate
	FROM
		r_trade_date_temp
	GROUP BY
		inner_code,trade_houre,trade_date
  </select>
  <!-- 按照支付渠道统计交易额 -->
  <select id="selectTradeDataByPayType" resultType="net.fnsco.order.service.domain.trade.TradeByPayType">
     SELECT
		SUM(amt) AS turnover,
		inner_code AS innerCode,
		COUNT(*) AS orderNum,
		pay_sub_type AS payType,
		cast(
			(SUM(amt) / COUNT(*)) AS DECIMAL (16, 2)
		) AS orderPrice,
		trade_date AS tradeDate
	FROM
		r_trade_date_temp
	GROUP BY
		inner_code,
		pay_sub_type,
		trade_date
  </select>
  <!-- 批量插入数据 -->
  <insert id="insertBatch" parameterType="java.util.List">
  	 <selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">
                 SELECT LAST_INSERT_ID()
     </selectKey>
     insert into r_trade_date_temp (id, inner_code, amt, 
      pay_sub_type, time_stamp,trade_date, trade_houre,procedure_fee,terminalCode)
    values
     <foreach collection ="list" item="reddemCode" index= "index" separator =",">
      (#{reddemCode.id,jdbcType=INTEGER}, #{reddemCode.innerCode,jdbcType=VARCHAR}, #{reddemCode.amt,jdbcType=VARCHAR}, 
      #{reddemCode.paySubType,jdbcType=VARCHAR}, #{reddemCode.timeStamp,jdbcType=VARCHAR}, #{reddemCode.tradeDate,jdbcType=VARCHAR}, 
      #{reddemCode.tradeHoure,jdbcType=VARCHAR},#{reddemCode.procedureFee,jdbcType=DECIMAL},#{reddemCode.terminalCode,jdbcType=VARCHAR})
     </foreach>
  </insert>
  <!-- 统计今日营业额 -->
  <select id="queryTodayTurnover" parameterType="net.fnsco.bigdata.service.domain.trade.TradeData"  resultType="net.fnsco.order.api.dto.TurnoverDTO">
    SELECT
	SUM(amt) AS turnover,
	COUNT(*) AS orderNum
	FROM
		t_trade_data
	WHERE
		inner_code IN (
			SELECT
				inner_code
			FROM
				u_app_user_merchant
			WHERE
				app_user_id = #{userId}
			<if test="roleId != null">
			    AND role_id = #{roleId}
			</if>	
		)
	AND time_stamp > #{tradeDate}
	AND status = 1
  </select>
  
  <!-- 统计终端表 -->
  <select id="selectTradeTerminalByDate" resultType="net.fnsco.order.service.domain.trade.TradeTerminalByDay">
     SELECT
			SUM(amt) AS turnover,
			SUM(procedure_fee) AS procedureFee,
			inner_code AS innerCode,
	    terminal_code AS terminalCode,
			COUNT(*) AS orderNum,
			cast(
				(SUM(amt) / COUNT(*)) AS DECIMAL (16, 2)
			) AS orderPrice,
			trade_date AS tradeDate
		FROM
			r_trade_date_temp
		GROUP BY
			inner_code,trade_date,terminal_code
  </select>
</mapper>