a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    /*word-break:break-all;*/
    word-wrap:break-word;
}
input{
    white-space:nowrap;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
*{
    background-repeat: no-repeat;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li,ol{
    list-style: none;
}
img{
    border: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html, body{
    height: 100%;
}
.content{
    min-height: 100%;
}
a{
    text-decoration: none;
    border: none;
    outline: none;
    tap-highlight-color: rgba(0,0,0,0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
}
a:visited{
    color: inherit;
}
input,button{
    outline: none;
}
/*以上为初始化css代码*/
html{
    height: 100%;
    line-height: 1;
    /*font-family:'Helvetica Neue';*/
    font-family: 微软雅黑;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color: transparent;
}
body{
    height: 100%;
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-tap-highlight-color: transparent;
    background:#efeff4;
    font-size: 0.65rem;
}
/*body .container{
    overflow-x:hidden;
    overflow-y:auto;
}*/
header{
    height: 2rem;
    background-color: #fd6804;
    position: relative;
    z-index: 998;
}
header .head-title{
    color: #fff;
    text-align: center;
    line-height: 2rem;
    font-size: 0.65rem;
}
header .back{
    position: absolute;
    left: 0.5rem;
    top: 0.75rem;
    display: none;
    display: inline-block;
    border-left: 0.1rem solid #fff; border-bottom: 0.1rem solid #fff;  
    width: 0.5rem; height: 0.5rem;  
    transform: rotate(45deg); 
    display: none;
}
.banner{
    width: 100%;
    height: 10.2rem;
    overflow: hidden;
}
.banner img{
    width: 100%;
}

.footer-bar{
    text-align: center;
    padding:1rem 0 3.5rem 0;
    font-size: 0.5rem;
    color: #666;
}
/*footer*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: #fff;
    border-top: 1px solid #e3e3e3;
    z-index: 998;
}
.footer-nav{
    height: 2.5rem;
    padding:0.25rem 0;
    text-align: center;
}
.footer-nav a{
    display: block;
}
.footer-nav i{
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 0.1rem auto;
}
.footer-nav .mui-col-xs-6 p{
    color: #999;
    font-size: 0.65rem;
}
.footer-nav .mui-col-xs-6.active p{
    color: #fc6d0d;
}
.footer-nav .home i{
    background: url(../img/home.png) no-repeat center;
    background-size: contain;
}
.footer-nav .home.active i{
    background: url(../img/home-active.png) no-repeat center;
    background-size: contain;
}
.footer-nav .loans i{
    background: url(../img/loans.png) no-repeat center;
    background-size: contain;
}
.footer-nav .loans.active i{
    background: url(../img/loans-active.png) no-repeat center;
    background-size: contain;
}
/*mui 按钮点击样式*/
button:enabled:active,.mui-btn:enabled:active, .mui-btn.mui-active:enabled{
    color: #fff;
    background-color: #da5800;
}

/*修改提示弹框样式*/
.mui-popup{
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    display: none;
    overflow: hidden;
    width: 11rem;
    -webkit-transition-property: -webkit-transform,opacity;
    transition-property: transform,opacity;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
    transform: translate3d(-50%, -50%, 0) scale(1.185);
    text-align: center;
    opacity: 0;
    color: #000;
    border-radius: 0.5rem;
}
.mui-popup-inner{
    position: relative;
    padding: 0.65rem;
    border-radius: 0.55rem 0.55rem 0 0;
    background: rgba(255, 255, 255, .95);
}
.mui-popup-title {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
}
.mui-popup-title + .mui-popup-text {
    font-family: inherit;
    font-size: 0.55rem;
    margin: 0.3rem 0 0;
}
.mui-popup-button{
    font-size: 0.7rem;
    line-height: 1.7rem;
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 1.7rem;
    padding: 0 0.3rem;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fd6601;
    background: rgba(255, 255, 255, .95);
    -webkit-box-flex: 1;
}
.mui-popup-button:first-child:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.mui-toast-container{
    line-height: 0.75rem;
    position: fixed;
    z-index: 9999;
    bottom: 50%;
    left: 50%;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0;
}
.mui-toast-message {
    font-size: 0.55rem;
    padding: 0.4rem 1.4rem;
    text-align: center;
    color: #fff;
    border-radius: 0.3rem;
    background-color: #323232;
}