/*
*payCarIndex 买车二级页面
*/
.advantage{
	padding: 0 1rem;
	background: #fff;
}
.advantage .car{
	text-align: center;
}
.advantage .car i{
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 auto;
	background:url(../img/car.png) no-repeat center;
	background-size: contain;
}
.advantage .car p{
	color: #333;
	font-size: 0.55rem;
	padding: 0.5rem 0;
}
.tool{
	background: #fff;
    padding: 0 1rem;
    border-bottom: 1px solid #e3e3e3;
}
.tool div{
	text-align: center;
}
.tool button{
	width: 6rem;
	height: 1.8rem;
	margin: 0.5rem auto;
	border-radius: 0;
	border-color: #fd6804;
	font-size: 0.55rem;
}

.product-list{
	margin-top: 0.4rem;
}
.product{
	margin: 0.25rem 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.product-con{
	background: #fff;
	height: 6rem;
	overflow: hidden;
}
	.product-img img{
		width: 100%;
	}
	.product-text{
		padding: 0 1rem;
		margin-top: 1.75rem;
	}
	.product-title{
		color: #333;
		font-weight: bold;
		font-size: 0.65rem;
	}
	.product-txt{
		color: #999;
		font-size: 0.55rem;
		margin-top: 0.5rem;
		line-height: 1.2;
	}

.product-btn{
	height: 1.5rem;
	text-align: center;
	background: #f6f6f6;
}
	.product-btn a{
		height: 0.8rem;
		line-height: 0.8rem;
		margin: 0.35rem 0;
		font-size: 0.55rem;
		color: #999;
	}
	.product-btn a.details{
		border-right: 1px solid #ccc;
	}
	.product-btn a.apply{
		color: #fd6804;
	}


/*
*insuranceIndex 理财
*/
.banner.insurance-banner{
	height: 5.3rem;
}
.insurance-con{
	background: #fff;
	padding: 0 0.5rem;
	margin: 0.25rem 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.insurance-title{
	padding: 0.4rem 0.2rem;
	font-size: 0.65rem;
	font-weight: bold;
	color: #333;
}
.insurance-img{
	padding: 0 0.2rem 0.4rem 0.2rem;
}
.insurance-img img{
	width: 100%;
}

/*
*loansIndex 贷款
*/
.total{
	background: #fff;
	margin: 0.25rem 0;
	border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 0;
}
	.amounts{
    	text-align: center;
	}
	.amounts span{
	    color: #999;
	    font-size: 0.55rem;
	    display: block;
	    padding-bottom: 0.5rem;
	}
	.amounts p{
	    font-size: 0.9rem;
	    color: #333;
	}
	.scroll{
	    position: relative;
	    width: 100%;
	    height: 1rem;
	    margin-top: 1rem;
	    overflow: hidden;
	}
	.scrool-text{
	    position: absolute;
	    top: 1rem;
	    left: 0;
	    right: 0;
	    animation:textScroll 30s infinite;
	    -webkit-animation:textScroll 30s infinite; /* Safari 和 Chrome */
	}
	.scrool-text-list{
	    width: 100%;
	    height: 1rem;
	    line-height: 1rem;
	    overflow: hidden;
	    text-align: center;
	    font-size: 0.55rem;
	    color: #666;
	}
	@keyframes textScroll{from {top:1rem;}to {top:-7rem;}}
	@-webkit-keyframes textScroll{from {top:1rem;}to {top:-7rem;}}

.loans-intro-list{
	background: #fff;
	border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding:0.5rem 1rem;
}
.loans-intro{
	height: 2rem;
}
.loans-intro-img{
	text-align: center;
	padding:  0.4rem 0;
	height: 2rem;
}
.loans-intro-img img{
	height: 100%;
}
.loans-intro-title{
	font-size: 0.55rem;
	color: #333;
	height: 1rem;
	line-height: 1rem;
	margin-top: 0.1rem;
}
.loans-intro-text{
	font-size: 0.45rem;
	color: #999;
}
.assess{
	margin: 0 auto;
	text-align: center;
}
button.assess-btn {
    width: 8rem;
    height: 1.8rem;
    margin: 0.5rem auto;
    border-radius: 0;
    border-color: #fd6804;
    font-size: 0.55rem;
}